#common_bgr{
	background-color: #F8EFD3;
	border-color: grey;	
}

.labelheader label{
	font-size: 13px;
	font-family: sans-serif;
}

.message_alert td{
	font-size: 13px;
	font-family: sans-serif;
	color: red;
}
.header td{
	font-size: 13px;
	font-weight:bold;
	font-family: sans-serif;
	color:#FF7F27;
}
.error_captcha{
	color:red;
	width:198px;
	margin-right:5px;
	float:left;
	margin-top:50px;
	margin-left:10px;
	font-size:13px;
}
.inputtype{
	float: left; 
	width: 318px; 
	margin-right: 5px;
}



