.partnerView-layout{
	width: 100%;
	background-color: white;
	float: left;
}

.partnerView-header {
    background-color: #30A1BE;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 630px;
    float: left;
    -moz-border-radius: 5px 5px 0px 0px;
}

.partnerView-body{
	border-left: 1px solid #30A1BE;
	border-right: 1px solid #30A1BE;
	border-bottom: 1px solid #30A1BE;	
    width: 628px;
    float: left;
	-moz-border-radius: 0px 0px 5px 5px;
}

.partnerView-header-title {
    float: left;
	padding-left: 8px;
    padding-bottom: 2px;
    padding-right: 24px;
    padding-top: 5px;
}

.partnerView-header-content{
	color: white;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.partnerView-header-action{
	float: right;
	padding-top: 4px;
    padding-right: 8px;
}

.partnerView-header-text{
	text-align: right;
	color: white;	
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	font-size: 13px;
}

.partnerView-content{
	float: left;
    padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
}

.partnerView-go-previous {		
	float: left;
	padding-top: 4px;
    width: 6.5%;
}

.partnerView-content-row{		
	float: left;
    width: 87%;
}

.partnerView-go-next {		
	float: right;
	padding-top: 4px;
    width: 6.5%;
}

.partnerView-row-image{		
	float: left;
    padding-left: 12px;	
}

.partnerView-image-logo{
	border: 1px solid gray;
	width: 120px; 
	height: 80px;
}

.partnerView-row-text {
    float: left;
    padding-left: 8px;
    padding-top: 8px;
    text-align: justify;
	color: #30A1BE;
    width: 76.5%;
}

.partnerView-btn-edit {
	background: url("/ProGate-portlet/images/edit_icon.gif") no-repeat scroll left top transparent;
	cursor: pointer;
	color: #30A1BE;
	padding: 1px 1px 0 20px;
}

.partnerView-content-empty{
	padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
}

.partnerView-content-text-empty{
	color: #A6A6A6;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	font-size: 13px;
}

.partnerView-content-bottom{
	float: right;
	padding-bottom: 6px;
    padding-right: 8px;
    padding-top: 6px;
}

.partnerView-bottom-text{
    text-align: right;
	color: #30A1BE;
    font-family: Arial,Helvetica,Verdana,Sans-Serif;
    font-size: 13px;
}

.partnerView-paging {
	background: none repeat scroll 0 0 #BABABA;
	border-left: 1px solid #30A1BE;
	border-right: 1px solid #30A1BE;
	float: left;
	padding-bottom: 4px;
	padding-top: 4px;
	width: 628px;
}

.partnerView-paging-text{
	color: white;
    padding-right: 8px;
    text-align: right;
}

a {
	text-decoration: none;
}
