.sub-org-body{
	width: 630px; 
	padding: 5px;
	float: left;	
}
.sub-org-tr{
	width: 100%;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px	
}
.sub-org-expand{
	padding-left: 3px;
	float: left;
	width: 80%;
}
.sub-org-action{
	float: right;
	width: 18%;
}
.sub-org-border{
	float: left;
	width: 100%;	
	padding-bottom: 2px;
	padding-top: 3px;
}
.sub-org-border:hover{
	background-color: #DFEEF6;	
	cursor: pointer;
}
