.new-manage-org-header{
	background-color: white;
    color: #E46C0A;
    font-size: 16px;
    font-weight: bold;
}
.new-manage-org-list-content{
	margin-left: 10px;
    margin-top: 20px;
}
.new-manage-org-link{
	color: #30A1BE;
    text-decoration: none;
}
.new-manage-org-link:hover{
	color: orange;
}
.new-manage-org-search{
	border: 1px solid #BDC7D8;
    font-family: Arial;
    font-size: 13px;
    height: 19px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 0;
    width: 370px;
}
.logo{
	border: thin ridge #E0EDF4;
    height: 120px;
    width: 150px;
}
.new-manage-org-folder-news{	
    text-align: justify;
    width: 99%;
    float: left;
}
.new-manage-org-dot-line{
   border-bottom: 1px dotted gray; margin-top: 2px; margin-right: 7px;
}
.new-manage-org-action-head{
  margin-right: 9px; margin-top: 4px;
}
.new-manage-org-folder-news:hover{
	-moz-border-radius: 4px 4px 4px 4px;
    background-color: #DDF0F8;
}
.new-manage-org-folder-news-disable{	
    text-align: justify;
    width: 99%;
    float: left;
}
.new-manage-org-logo-org{
	float: left;
    margin: 10px;
}
.new-manage-org-content{
	padding: 10px;
}
.hightlights-org-enable{
	height: 15px;
    margin-left: 10px;
    vertical-align: top;
    width: 15px;
}
.hightlights-org-disable{
	height: 15px;
    margin-left: 10px;
    vertical-align: middle;
    width: 15px;
    display:none;
}
.new-manage-org-name{
	font-size: 14px;
	color:#00468C;
	font-weight:bold;
}
.new-manage-org-paging{
	float: right;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 448px;
}
#new-manage-org-selected {
    background: none repeat scroll 0 0 #30A1BE;
    color: #FFFFFF;
    float: left;
    padding: 4px 6px;
    text-decoration: none;
}
.new-manage-org-paging a {
    border: 1px solid #C3C3C3;
    color: #30A1BE;
    float: left;
    font: bold 9pt Arial,Helvetica,sans-serif;
    margin: 0 3px;
    padding: 4px 6px;
    text-decoration: none;
}

.new-manage-org-paging a:hover{
	background: none repeat scroll 0 0 #30A1BE;
    border: 1px solid #ECECEC;
    color: #FFFFFF;
}
.org-disable{
	color: gray;
}

/*
*/
.new-manage-org-header-add{
	 border-bottom: 1px solid black;
    font-size: 18px;
    height: 22px;
    margin-bottom: 10px;
    padding: 6px 10px 0 5px;
    width: 92%;
}
.new-manage-org-table{
	margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 610px;
}
.new-manage-org-label{	      
    padding-left: 0;
    padding-right: 3px;
    text-align: left;
    vertical-align: middle;
    width: 135px;
    padding-bottom:10px;
}
.new-manage-org-box{
	float: left;
    padding-bottom: 6px;
}
.new-manage-org-text{
	border: 1px solid #BDC7D8;
    height: 25px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-top: 2px;
    width: 460px;
    background-color: white;
}
.new-manage-org-select{
	border: 1px solid #BDC7D8;
	background-color: white;
	width: 160px;
}
.new-management-org-radio{
	margin-right:3px;
}

.new-manage-org-hiddenError{
	display: none; 
	clear: both;
	margin-bottom: 10px;
}
.new-manage-org-box select{
	width:463px;
}
.new-manage-radio{
	float: left;
    padding-left: 0;
    padding-right: 45px;
}
.new-manage-org-button-align{
	margin-left: 204px;	
    margin-right: auto;
    width: 599px;
}
.new-manage-org-note-head{
    padding: 6px 10px 0 15px;
    width: 573px;
}
.new-manage-org-save-button{
	float: left;   
    padding-right: 20px;
    padding-top: 5px;
}
.new-manage-org-table textarea{
	border: 1px solid #BDC7D8;
    font-family: Arial;
    font-size: 13px;
    height: 150px;
    width: 460px;
}
.new-manage-org-cancel-button{
	 float: left;
    padding-top: 5px;
}
.new-manage-org-error{
	color: red;
    padding-bottom: 5px;
}
.new-manage-org-success_message{
	background: url("<%=request.getContextPath()%>/images/support_org_profile/success.png") no-repeat scroll 10px 50% #E1FBE6;
    border:1px solid #E1FBE6;
    display: block;
    font-weight: bold;
    margin: 10px 10px 0 6px;
    padding: 6px 6px 3px 30px;
    text-align: left;
    height: 20px;
    width: 89%;
}
.new-manage-org-warning_message{
	background: url("/ProGate-portlet/images/support_org_profile/error.png") no-repeat scroll 10px 50% #FDEFED;
    border: 1px solid #FDEFED;
    font-weight: bold;
    height: 16px;
    margin: 10px 10px 0 6px;
    padding: 6px 6px 6px 30px;
    text-align: left;
    width: 89%;
}

/*****************************************
Dialog box
******************************************/
.ui-dialog-titlebar {
	//background: url("<%=request.getContextPath()%>/images/news_org/titleGreen.png") repeat-x scroll 50% 50% #5C9CCC!important;
	//overflow: hidden;	
}
 .ui-dialog {
	background-color:#FFFFFF;
	border:2px solid #828F95;
	padding:0;
	overflow: visible !important; 
}
 .ui-dialog .ui-dialog-buttonpane {
	text-align: center!important;
	right: 0px!important;
	border-top: 1px solid #D3D3D3;	
	height:35px;
}

 .ui-dialog .ui-dialog-titlebar{
	color:white;
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
	padding-left:7px;
	background: url("<%=request.getContextPath()%>/images/news_org/titleGreen.png") repeat-x scroll 50% 50% #5C9CCC!important;
}
.ui-dialog .ui-dialog-titlebar-close{
	background:url("<%=request.getContextPath()%>/images/news_org/CloseButton.gif") no-repeat scroll 0 0 transparent;
	height:16px;
	position:absolute;
	right:5px;
	top:6px;
	width:16px;
}
.ui-dialog-title{
	font-size: 18px;
	font-weight: bold;
	left: -2px;
	position: relative;
	top: 2px;
}
.ui-datepicker-clear, .ui-datepicker-prev{
	display:none;
}
.new-manage-org-name-alert{
	color: #356EB3;
    font-size: 14px;
    font-weight: bold;   
}

#dialogDelete{
	background: url("<%=request.getContextPath()%>/images/news_org/info.gif") no-repeat scroll 16px 16px transparent;
    color: #000000;
    display: none;
    font-size: 13px;
    margin: 0;
    padding: 1em 0.75em;
    text-align: justify;
}

#dialogDeleteOrg{
	//background: url("<%=request.getContextPath()%>/images/news_org/info.gif") no-repeat scroll 16px 16px transparent;
    color: #000000;
    display: none;
    font-size: 13px;
    //height: 120px;
    margin: 0;
    padding:0;
    //padding: 1em 0.75em;
    //text-align: justify;
}
.dialog_edit_org{
	background: url("<%=request.getContextPath()%>/images/news_org/info.gif") no-repeat scroll 16px 16px transparent;
    color: #000000;
    display: none;
    font-size: 13px;
    height: 120px;
    margin: 0;
    padding: 1em 0.75em;
    text-align: justify;
}

.ui-dialog-container #dialog_edit_org{
	 display: block;
}

.ui-dialog-container #dialogDelete{
	 display: block;
}

.ui-dialog-container #dialogDeleteOrg{
	 display: block;
}

.new-manage-org-messageDelete{
	float: left; padding-top: 5px;
}
.new-manage-org-backgroundAlert{
	background-color: #FDF7CD; height: 36px; width: 317px;
}
.new-manage-org-imageAlert{
	vertical-align:middle;
}
.new-manage-org-foresee{
    margin-right: 30px;
    margin-top: 0px;
    float:right;
}
.new-manage-org-image-hint{
	vertical-align:middle;
}
.new-manage-org-checkOrg{
	float: left;
    margin-top: 60px;
    margin-left: 5px;
}

/*****************************************
Menu Org
******************************************/
.menu-org-container{
	display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: justify;
    width: 100%;
}
.menu-org-header{
	height: 30px; margin-top: 10px; margin-left: 10px;width: 100%;
}
.menu-org-tuade{
	color: #E46C0A;
    font-weight: bold;
}

.menu-org-folder-news{	
    text-align: justify;
    width: 100%;
    float: left;
}
.menu-org-paging{
	padding-left:10px;
}

.menu-org-logo-org{
	float: left;
    margin: 10px;
    margin-left:0px;
}
.menu-org-content{
	padding: 10px;
	width:99%;
}