.achiemgmt-frm-layout{
	width: 100%;
	background-color: white;
	float: left;
}

.achiemgmt-frm-header{
    padding-top: 3px;
    width: 100%;
    float: left;
}

.achiemgmt-frm-header-title {
    float: left;
	padding-top: 8px;    
    padding-left: 4px;  
}

.achiemgmt-frm-header-text{
	text-align: right;
	color: #F88017;	
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	font-size: 18px;
    font-weight: bold;
}

.achiemgmt-frm-header-border{    
    float: left;
	padding-top:2px;
	width: 628px;
	border-bottom: 1px dotted gray;
}

.achiemgmt-frm-body{
    width: 100%;
    float: left;
}

.achiemgmt-frm-content{
	float: left;
}

.achiemgmt-frm-row {
	float: left;
	width: 100%;
	margin: 5px 0;
}

.achiemgmt-frm-row-left {
	float: left;
	text-align: left;
}

.achiemgmt-frm-row-right {
	float: right;
	text-align: left;
	width: 69%;
}

.achiemgmt-frm-action-right {
	float: right;
	text-align: left;
	color: black;
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	font-size: 13px;
}

.achiemgmt-frm-row-center {
	text-align: center;
	padding-top: 12px;
}

.achiemgmt-frm-required-title {
	color: red;
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	font-size: 13px;
}

.achiemgmt-frm-input {
	text-align: left;
	color: black;
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	font-size: 13px;
	width:420px;
}

.achiemgmt-frm-error-message {
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	color: red; 
	font-size: 13px
}

.achiemgmt-btn-delete {
	background:url("/ProGate-portlet/images/delete-icon.png") no-repeat scroll left top transparent;
	cursor:pointer;
	padding:1px 1px 0 20px;
}

.achiemgmt-btn-delete:HOVER{
	color: orange;
}

.achiemgmt-btn-return {
	background:url("/ProGate-portlet/images/return-icon.png") no-repeat scroll left top transparent;
	cursor:pointer;
	padding:1px 1px 0 20px;
}

.achiemgmt-btn-return:HOVER{
	color: orange;
}

.achiemgmt-icon-info {
	background:url("/ProGate-portlet/images/info.png") no-repeat scroll left top transparent;	
	padding:1px 1px 0 20px;
}

.achiemgmt-icon-success {
	background:url("/ProGate-portlet/images/success.png") no-repeat scroll left top transparent;	
	padding:0 0 8px 24px;
}

.achiemgmt-text-success {
	color: black;	
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	font-size: 14px;
    font-weight: bold;
}

.achiemgmt-icon-error {
	background:url("/ProGate-portlet/images/error.png") no-repeat scroll left top transparent;	
	padding:0 0 8px 24px;
}

.achiemgmt-text-error {
	color: red;	
	font-family: Arial,Helvetica,Verdana,Sans-Serif;
	font-size: 14px;
    font-weight: bold;
}

.achiemgmt-btn-close{
	background:url("/ProGate-portlet/images/close.png") no-repeat scroll left top transparent;
	cursor:pointer;
	padding:1px 1px 0 20px;
}

.achiemgmt-date-field {
	width: 160px;
	float: left;
	height: 15px;
	vertical-align: middle;
}

a {
	text-decoration: none;
}
