/********** Content **********/
.tnt-content {
	padding: 10px;
}

.tnt-body {
	float: left;
	padding: 10px 0px;
}

.tnt-row,.tnt-row-hover {
	float: left;
	width: 100%;
	padding: 2px 0;
}

.tnt-row-hover:hover {
	-moz-border-radius: 4px 4px 4px 4px;
	width: 100%;
	background-color: #DDF0F8;
}

.tnt-row-left {
	float: left;
	text-align: left;
}

.tnt-img-left {
	border: thin ridge #E0EDF4;
	width: 80px;
	height: 80px;
}

.tnt-row-right {
	float: right;
	text-align: left;
}

.tnt-row-center {
	text-align: center;
}

.tnt-border-bottom {
	border-bottom: 1px dotted;
}

/********** Column widths **********/
.tnt-row-right.ten {
	width: 10%;
}

.tnt-row-right.twenty {
	width: 20%;
}

.tnt-row-right.thirty {
	width: 30%;
}

.tnt-row-right.forty {
	width: 40%;
}

.tnt-row-right.fifty {
	width: 50%;
}

.tnt-row-right.sixty {
	width: 60%;
}

.tnt-row-right.seventy {
	width: 70%;
}

.tnt-row-right.seventy-half {
	width: 75%;
}

.tnt-row-right.eighty {
	width: 80%;
}

.tnt-row-right.eighty-half {
	width: 85%;
}

.tnt-row-right.ninety {
	width: 90%;
}

/********** Table **********/
.tnt-control {
	float: left;
	width: 100%;
	/*background: url("/ProGate-portlet/images/line.gif") repeat-x scroll left
		top transparent;*/
	background-color: #346CB0;
	height: 33px;
	color: white;
}

.tnt-control .tnt-row-left,.tnt-control .tnt-row-right {
	padding-top: 5px;
}

.tnt-control-title {
	font-size: 16px;
	padding-left: 10px;
	font-weight: bold;
	padding-top: 3px;
}

.tnt-search-action {
	color: white;
	font-weight: bold;
	padding-right: 5px;
}

.tnt-control-action {
	color: white;
	font-weight: bold;
	padding: 5px 5px 0 0;
}

.tnt-control-action a {
	color: white;
	text-decoration: none;
}

.tnt-control-action a:hover {
	color: #F88017;
	text-decoration: none;
}

.tnt-table {
	float: left;
	width: 100%;
}

.tnt-table {
	border: 1px solid #578FF7;
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
	font-size: 9pt;
}

.tnt-table-header td {
	/*background: url("/ProGate-portlet/images/line.gif") repeat-x scroll left
		top transparent;*/
	background-color: #346CB0;
	color: #FFFFFF;
	font-weight: bold;
	height: 25px;
	text-align: center;
	vertical-align: middle;
}

.tnt-table-row-0 td {
	padding: 3px 3px 3px 3px;
	background: #d0d8e8;
}

.tnt-table-row-1 td {
	padding: 3px 3px 3px 3px;
	background: #e9edf4;
}

.tnt-table-row-selected {
	cursor: pointer;
}

.tnt-table-row-current td {
	background: wheat;
}

.tnt-text-cell {
	text-align: left;
	vertical-align: middle;
}

.tnt-number-cell,.tnt-datetime-cell,.tnt-checkbox-cell,.tnt-image-cell,.tnt-status-cell
	{
	text-align: center;
	vertical-align: middle;
}

/********** Button **********/
.tnt-bt-invite {
	background: url("/ProGate-portlet/images/button/invite.png") no-repeat
		scroll left top transparent;
	padding: 4px 0 0 30px;
}

.tnt-bt-approve {
	background: url("/ProGate-portlet/images/button/approve.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-reject {
	background: url("/ProGate-portlet/images/button/reject.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-search {
	background: url("/ProGate-portlet/images/button/search.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-edit {
	background: url("/ProGate-portlet/images/edit_icon.gif") no-repeat
		scroll left top transparent;
}

.tnt-bt-add {
	background: url("/ProGate-portlet/images/button/add.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-delete {
	background: url("/ProGate-portlet/images/button/delete.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-typical-member {
	background: url("/ProGate-portlet/images/button/typical_member.png")
		no-repeat scroll left top transparent;
}

.tnt-bt-normal-member {
	background: url("/ProGate-portlet/images/button/normal_member.png")
		no-repeat scroll left top transparent;
}

.tnt-bt-up {
	background: url("/ProGate-portlet/images/button/up.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-down {
	background: url("/ProGate-portlet/images/button/down.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-enable {
	background: url("/ProGate-portlet/images/button/enable.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-disable {
	background: url("/ProGate-portlet/images/button/disable.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-print {
	background: url("/ProGate-portlet/images/down.png") no-repeat scroll
		left top transparent;
}

.tnt-bt-pdf {
	background: url("/ProGate-portlet/images/down.png") no-repeat scroll
		left top transparent;
}

.tnt-bt-excel {
	background: url("/ProGate-portlet/images/button/excel.png") no-repeat
		scroll left top transparent;
}

.tnt-bt-approve,.tnt-bt-reject,.tnt-bt-search,.tnt-bt-edit,.tnt-bt-add,.tnt-bt-delete,.tnt-bt-typical-member,.tnt-bt-normal-member,.tnt-bt-up,.tnt-bt-down,.tnt-bt-enable,.tnt-bt-disable,.tnt-bt-print,.tnt-bt-pdf,.tnt-bt-excel
	{
	padding: 4px 0 0 22px;
}

/********** Icon **********/
.tnt-icon-type1 {
	background: url("/ProGate-portlet/images/edit_icon.gif") no-repeat
		scroll left top transparent;
	padding: 1px 0 2px 19px;
}

/********** Text **********/
.tnt-text {
	text-align: justify;
}

.tnt-text-size-16 {
	font-size: 16px;
}

.tnt-text-bold {
	font-weight: bold;
}

.tnt-text-size-18 {
	font-size: 18px;
}

.tnt-link {
	color: #4682B4;
	text-decoration: none;
}

.tnt-link:hover {
	color: #f88017;
}

.tnt-warning-message {
	color: red;
	font-size: 14px;
	text-align: center;
	font-style: italic;
}

.tnt-error-message {
	color: red;
	font-size: 13px;
}

.tnt-global-error-message {
	background: none repeat scroll 0 0 SeaShell;
	padding-bottom: 5px;
	padding-top: 5px;
}

.tnt-global-error-message span {
	background: url("/ProGate-portlet/images/error.png") no-repeat scroll
		left top transparent;
	color: red;
	font-weight: bold;
	padding: 1px 0 2px 19px;
}

.tnt-global-success-message {
	background: none repeat scroll 0 0 HoneyDew;
	padding-bottom: 5px;
	padding-top: 5px;
}

.tnt-global-success-message span {
	background: url("/ProGate-portlet/images/success.png") no-repeat scroll
		left top transparent;
	color: green;
	font-weight: bold;
	padding: 1px 0 2px 19px;
}

/********** Color **********/
.color-type1 {
	color: #f88017;
}

.color-type2 {
	color: #FFFFFF;
}

.color-type3 {
	color: #000000;
}

.color-type4 {
	background-color: #FFFFFF;
}

.color-type4:hover {
	-moz-border-radius: 4px 4px 4px 4px;
	background-color: #DDF0F8;
}

/********** Product **********/
.tnt-product-list {
	padding: 3px;
}

.tnt-title {
	font-size: 16px;
	font-weight: bold;
	color: #f88017;
}

.tnt-title-black {
	font-size: 16px;
	font-weight: bold;
	color: black;
}

.tnt-product-title {
	color: #f88017;
	font-size: 16px;
	font-weight: bold;
}

.tnt-product-title a {
	color: #f88017;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.tnt-product-description {
	height: auto;
}

.tnt-product-price {
	color: #F88017;
	padding-top: 10px;
}

/*
.tnt-product-price .tnt-row-left {
	padding-top: 15px;
}

.tnt-product-price .tnt-row-right {
	padding-top: 8px;
}
*/
.tnt-info {
	background: url("/ProGate-portlet/images/info.png") no-repeat scroll
		left top transparent;
	padding: 1px 0 2px 19px;
}

.tnt-required-title {
	color: red;
}

.tnt-article-title,.tnt-article-title a {
	color: #4682B4;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.tnt-article-title:hover,.tnt-article-title a:hover {
	color: #f88017;
}

/********** SlideShow Product **********/
.tnt-slide-show-product {
	border: 1px solid #30A1BE;
	-moz-border-radius: 5px 5px 0 0;
	float: left;
	height: 275px;
}

/********** Promote Price **********/
.tnt-promote-price span {
	background: url("/ProGate-portlet/images/SaleOff.png") no-repeat scroll
		0 0 transparent;
	color: white;
	font-size: 11px;
	font-weight: bold;
	height: 50px;
	left: -5px;
	padding: 15px 0 0 10px;
	position: absolute;
	top: -10px;
	width: 50px;
	z-index: 1;
}

.tnt-promote-price .tnt-promote-price-left {
	background: url("/ProGate-portlet/images/saleoff.png") no-repeat scroll
		center top transparent;
	color: #FFFFFF;
	float: left;
	height: 90px;
	padding: 3px 2px;
	text-align: center;
	width: 250px;
}

.tnt-promote-price .tnt-promote-price-right {
	padding-top: 25px;
}

/********** SlideShow **********/
.image-preview {
	height: 110px;
	width: 165px;
}

.slideShowTitle {
	width: 570px;
}

.cb_slide_show {
	padding-top: 60px;
}

.img_slide_show {
	padding-left: 10px;
	height: 120px;
}

.slide_show_product {
	width: 573px;
}

/********** Pagination **********/
.tnt-pagination {
	font-size: 12px;
}

.tnt-pagination .search-pages select {
	font-size: 10px;
}

.tnt-pagination .search-results,.tnt-pagination .page-links {
	padding-top: 0px
}

/********** List User Application **********/
.tnt-cell-text {
	color: white;
	font-weight: bold;
	padding-top: 6px;
}

.tnt-cell-text:hover {
	color: yellow;
}

.tnt-cell-image {
	background: url("/ProGate-portlet/images/user_application.jpeg")
		no-repeat scroll 0 0 transparent;
	width: 170px;
	text-align: center;
	position: relative;
	height: 170px;
}

.tnt-cell-image:hover {
	background: url("/ProGate-portlet/images/user_application_hover.jpg")
		no-repeat scroll 0 0 transparent;
	border-radius: 10px 10px 10px 10px;
}

/********** User Management **********/
.tnt-user-management {
	float: right;
	padding: 5px;
	width: 950px;
}

/********** Action **********/
.tnt-action {
	display: none;
	position: absolute;
	text-align: left;
}

.tnt-action ul {
	background: url("/html/themes/control_panel/images/forms/button.png")
		repeat-x scroll 0 100% #FFFFFF;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	border-style: solid;
	border-width: 1px;
}

/********** Journal Articles **********/
.tnt-portal-left {
	width: 232px;
	float: left;
}

.tnt-portal-right {
	width: 728px;
	float: right;
}

.tnt-journal {
	padding: 6px;
}

.tnt-journal-img {
	border: thin ridge #E0EDF4;
	width: 145px;
	height: 100px;
}

/********** Portal Menu **********/
#tnt-menu {
	background: none repeat scroll 0 0 #EDF7FF;
	margin: 5px;
	padding: 5px;
	width: 210px;
}

#tnt-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#tnt-menu a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
	height: 23px;
	display: block;
	padding-top: 5px;
	border-left: 1px solid #ffffff;
}

#tnt-menu a:hover {
	color: yellow;
}

#tnt-menu li {
	/* make the list elements a containing block for the nested lists */
	position: relative;
}

#tnt-menu li a {
	background: url("/ProGate-theme/images/header.png") repeat scroll 0 0
		transparent;
}

#tnt-menu ul ul {
	position: absolute;
	top: 0;
	left: 100%;
	/* to position them to the right of their containing block */
	width: 100%; /* width is based on the containing block */
}

div#tnt-menu ul ul,div#tnt-menu ul ul ul,div#tnt-menu ul li:hover ul ul,div#tnt-menu ul li:hover ul ul ul
	{
	display: none;
}

div#tnt-menu ul li:hover ul,div#tnt-menu ul ul li:hover ul,div#tnt-menu ul ul ul li:hover ul
	{
	display: block;
}

#tnt-menu li a.selected {
	background: url("/ProGate-theme/images/Theme_Menu_Duoc_Chon.jpg") repeat
		scroll 100% 0 transparent;
	color: #006666;
}