.js .page-maximized .portlet-icons{
	visibility: hidden;
}
.portlet-icon-back{
	visibility: hidden;
}
.editor{
	margin:0 0 7px;
	width:672px;
}
table{
	border-collapse:separate;
    border-spacing:2px;
}
.editor td{
	
}
#password-html li{
	float:none;
}
#password-html ul li{
	list-style-type:disc;
}
.fix_ul{
	margin-left:0px;margin-top:0px;margin-bottom:0px;list-style-type:disc;
}
.fix_ul li{
	
}
.check_error{
	clear:both;
	color:red;
	font-size:13px;
	margin-left:5px;
	margin-right:5px;
	margin-top:5px;
}
td .label{
	font-family:Arial;
	font-size:13px;
	padding-right: 3px;	
	text-align: left;
	vertical-align:middle;
	padding-left:10px;
}

.field_container{
	margin:2px 0 1px;	
	display: inline-block;
	float: left;
}
.inputtext{
	border:1px solid #BDC7D8;
	font-family:Arial;
	font-size:13px;
	height:25px;
	margin-bottom:2px;
	margin-left:5px;
	margin-top:2px;
	width:310px;
}

.bt_login {
	float: left;
	text-align: left;
	width: 90px;
}

.div_registerH{
	padding-top: 5px;
	padding-bottom: 5px;
}
.question {
	margin-left: 15px;
}

.question a{
	color:#3B5998;
	cursor:pointer;
	text-decoration:none;
	margin-left: -8px;
}
#recaptcha_area{	
	margin-top: 2px;
	margin-left: 2px;
}

.radio {
	float:left;
	padding-right:10px;
	padding-left:5px;
}
a {
	text-decoration: none;
}
.note{
	font-size:13px;
	padding:20px 20px 20px 20px;
	width:632px;
	background-color:#FAF3D6;
	margin-bottom:0px;
	margin-left:5px;
	margin-top: 5px;
	height:194px;
}
.reactive_success{
	background-color:#FAF3D6;
	font-size:13px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding:20px;
	width:660px;
	border: 1px solid #B8BABF;
	height:152px;
}
.active_success{
	background-color:#FAF3D6;
	font-size:13px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding:20px;
	width:660px;
	border: 1px solid #B8BABF;
	height:35px;
}
.active_success_private{
	background-color:#FAF3D6;
	border:1px solid #B8BABF;
	font-size:13px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding:20px 20px 40px;
	width:451px;
}
.active_success_duplication{
	background-color:#FAF3D6;
	border:1px solid #B8BABF;
	font-size:13px;
	height:35px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	padding:20px;
	width:451px;
}
.note_head{
	font-size:13px;
	padding:6px 10px 0 15px;
	width:573px;
	margin-bottom:-8px;
	margin-left:-2px;
	margin-top: -8px;
}
.foot{
	font-size:13px;
	padding:6px 10px 0 12px;
}
.header{
	font-weight: bold;
	font-size:18px;
	padding:6px 10px 0 5px;
	width:666px;
	background:url("/SignUp-5.2.3.1/images/image_gallery_2.png");
	background-repeat:no-repeat;
	height: 43px;
	margin-left:5px;
	margin-top:5px;
	color:white;
}
.inputtype{
	float: left; 
	width: 318px; 
	margin-right: 1px;
}
.error_message{
	color:red;
	float:left;
	font-size:13px;
	margin-left:0px;
	margin-right:5px;
	margin-top:10px;
	width:176px;
}
.error_message_2{
	color:red;
	float:left;
	font-size:13px;
	margin-left:0px;
	margin-right:5px;
	margin-top:0px;
	width:176px;
}
.error_message_3{
	color:red;
	float:left;
	font-size:13px;
	margin-left:0px;
	margin-right:5px;
	margin-top:10px;
	width:158px;
}
.hint_message{	
	font-size:12px;
	float:left;
	margin-left:337px;
	margin-top:-24px;
}
.hint_message_length{
	float:left;
	font-size:12px;
	margin-left:337px;
	margin-top:-32px;
}
.hint_message_2{	
	font-size:12px;
	float:left;
	margin-left:337px;
	margin-top:-37px;
}
.hint_message_3{
	font-size:12px;
	float:left;
	margin-left:337px;
	margin-top:-37px;
}
.hint_message_email{
	float:left;
	font-size:12px;
	margin-left:337px;
	margin-top:-38px;
}
.existence_message{
	font-size:12px;
	margin-left:4px;
	color:red;
}
.error_captcha{
	color:red;
	width:150px;
	margin-right:5px;
	float:left;
	margin-top:50px;
	margin-left:10px;
	font-size:13px;
}
.highslide img {
}
.custome_title{
	background:url("/SignUp-5.2.3.1/images/image_gallery.png");
	background-repeat:no-repeat;
	height: 43px;
	border: 1px solid #B37246;
	border-color:1px solid #B37246;
	cursor:default;
	font-size:14px;
	font-weight:bold;
	line-height:1.75em;
	margin:0;
	padding:0;
	text-align:left;
	opacity:1.4;filter:alpha(opacity=40)
}
.error_email{
	color:red;
	float:left;
	font-size:13px;
	margin-left:10px;
	margin-right:5px;
	margin-top:5px;
	width:318px;
}
.head_error{
	font-size:13px;
	margin-bottom:-18px;
	margin-left:-10px;
	margin-top:14px;
	padding:6px 10px 0 15px;
	width:573px;
}
.announcement{
	width:416px;
	height:40px;
	background-color:#F9F4E3;
	margin-top:5px;
	margin-bottom:10px;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	font-size:13px;
	border: 1px solid #DADADA;
}
.reactive_header{
	width:392px;
	height:40px;
	background-color:#FF8802;
	margin-top:5px;
	margin-bottom:10px;
	margin-left:344px;
	padding-left:15px;
	padding-top:5px;
	font-size:13px;
	font-weight:bold;
	border-left: 1px #D9D7D2 solid;
	border-right: 1px #D9D7D2 solid;border-top: 1px #D9D7D2 solid;border-bottom: 1px #D9D7D2 solid;
}
.note ul li{
	list-style-type: none;
}
.reactive_success ul li{
	list-style-type: none;
}
.hint_image{
	float:left;
	margin-left: 0px;
	margin-top:11px;
}
.hint_image_length{
	float:left;
	margin-left:0;
	margin-top:2px;
}
 .ui-dialog-titlebar {
	//background: url("/SignUp-5.2.3.1/images/titleGreen.png") repeat-x scroll 50% 50% #5C9CCC!important;
	//overflow: hidden;	
}
 .ui-dialog {
	background-color:#FFFFFF;
	border:2px solid #828F95;
	padding:0;
	overflow: visible !important; 
}
 .ui-dialog .ui-dialog-buttonpane {
	text-align: center!important;
	right: 0px!important;
	border-top: 1px solid #D3D3D3;	
	height:35px;
}

 .ui-dialog .ui-dialog-titlebar{
	color:white;
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
	padding-left:7px;
	background: url("/SignUp-5.2.3.1/images/titleGreen.png") repeat-x scroll 50% 50% #5C9CCC!important;
}

#password-html{
	width: 575px !important;
	height: 302px!important;
	overflow: auto;
	display: none;
	font-size:13px;
	padding: 5pt;
	padding-top:10px;	
}
#term-html{
	width: 589px !important;
	height: 306px!important;
	overflow: auto;
	display: none;
	font-size:13px;
	padding: 5pt;	
}
#requirement{
	background:url("/SignUp-5.2.3.1/images/info.gif") no-repeat scroll 16px 16px transparent;
	margin:0;
	padding:1em 0.75em;
	color:#000000;
	font-size:13px;
	text-align:justify;
    display:none;
    height:120px;
}
.resendmail{
	border-collapse:separate;
    border-spacing:0;
    bordercolor: #B8BABF;
}
.resendmail tr td{
	padding: 6px 10px 10px 15px;
}
.draw_column_even{
	border-bottom: 1px  solid #E4E2D8; 
	border-left: 1px  solid #E4E2D8;
}
.draw_colum_last{
	border-bottom: 1px solid  #E4E2D8 ; 
	border-left: 1px solid #E4E2D8 ;
	border-right: 1px solid #E4E2D8;
}
.error_reemail{
	color:red;
	float:left;
	font-size:13px;
	margin-left:10px;
	margin-right:5px;
	margin-top:5px;
}


#popup_message{	
	padding-right:41px;
	padding-left:48px;
}

ul li, ol ul li {
list-style:none outside none !important;
}

.ui-dialog .ui-dialog-titlebar-close{
	background:url("/SignUp-5.2.3.1/images/CloseButton.gif") no-repeat scroll 0 0 transparent;
	height:16px;
	position:absolute;
	right:5px;
	top:6px;
	width:16px;
}
.ui-dialog-title{
	font-size: 18px;
	font-weight: bold;
	left: -2px;
	position: relative;
	top: 2px;
}
.ui-datepicker-clear, .ui-datepicker-prev{
	display:none;
}
#f_btn1{
	background-image:url('<%=request.getContextPath()%>/images/calendar.gif');	
	background-repeat: no-repeat;
	height: 16px;
    width: 15px;
    border: 1px solid #C5DBEC;
    color: #2E6E9E;
    margin: 0;
    padding: 0;
}
