@charset "utf-8";
/* Misc */
#clear-both {
	clear: both;
}
#clear-right {
	clear:right;
}
#clear-left{
	clear:left;
}

#lblRequireField {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FF0000;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
}

.wrapper .mainContent  .control-bottom {
	height:60px;
	width:96%;
	margin: 0 auto 0 auto;
	text-align:center;
}

a,a:hover,a:visited{
text-decoration:none;
color:#001CFF;
}

.wrapper {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 2px auto;
	height: auto;
	width:98%;
}
.wrapper .header-center {
	white-space:nowrap;
	float:left;
	font-size:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	padding-top:7px;
	padding-left:10px;
	color: #ffffff;
}
.wrapper .header {

	background-image: url(<%=request.getContextPath()%>/images/lmis/configAttendanceInfo/bg_line.png);
	background-repeat:repeat-x;
	height:30px;
	margin-top: 20px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px 5px 0 0;
    

}

.wrapper .mainContent {
	width: auto;
	height: auto;
	-webkit-border-radius: 5px;
    -moz-border-radius: 0 0 5px 5px;
	margin-top: -3px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #55C9F4;
	border-bottom-color: #55C9F4;
	border-left-color: #55C9F4;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom:10px;

}
.wrapper .header .clear-both {
	clear: both;
}
/* End Misc */

.wrapper .mainContent .mode-edit {
	float:right;
	text-align:right;
	margin-top:-30px;
	margin-right:5px;
	padding-bottom: 5px;
}
.wrapper .mainContent .mode-edit #mode-edit-active {
	padding-bottom:10px;
	font-size:14px;
	vertical-align:super;
	text-decoration:none;
	font-weight: bold;
	color:blue;

}

.wrapper .mainContent .mode-edit #msg-fade {
	padding-bottom:10px;
	font-size:14px;
	vertical-align:super;
	text-decoration:none;
	padding-right:10px;

}
/* Config Email */
.wrapper .mainContent #frmConfigEmail .contentConfigEmail {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	width: 97.2%;
	padding-left:14px;
	padding-top: 10px;
	margin-top:-1px;
	margin-left:5px;
	text-align:left;
	height:75%;
	border: 1px solid #55c9f4;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background-color:#DBEDF4;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator-small .col-left {

	vertical-align:middle;
	width:20%;
	height:32px;
	float:left;
	text-align: left;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator-small .col-left p{
	margin:0;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator-small .col-center {
	height:32px;
	width:60%;
	float:left;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator-small .col-center #sel-email {
	width:100%;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator-small .col-center .col-center-checkbox {
	float:left;
	padding-top:2px;
	color:#7E7E7E;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator-small .col-right {
	float:right;
	width: 18%;
	height:32px;
}



.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator .col-left {
	display:table-cell;
	vertical-align:middle;
	width:20%;
	height:70px;

	float:left;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator .col-left p{
	margin:0;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator .col-center {
	height:70px;
	width:60%;
	float:left;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator .col-center input label{
	margin-top:2px;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator .col-center #sel-email {
	width:50%;
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator .col-right {
	float:right;
	width: 18%;
	height:70px;

}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail  .div-seperator .col-center .col-center-checkbox {

	padding-top:2px;
	float:left;
	
}
.wrapper .mainContent #frmConfigEmail .contentConfigEmail .div-seperator-small .col-center .col-center-checkbox .chk-vertical input{
	float:left;

}

.wrapper .mainContent #frmConfigEmail .contentConfigEmail .div-seperator .col-right {
	display:table-cell;
}

.wrapper .mainContent #frmConfigEmail .contentConfigEmail .div-seperator .col-right .div-images {
	height: 70px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 20px;
    width: 100%;
}

#frmConfigEmail .addLabelDisable{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: gray;
}
#frmConfigEmail .addLabelEnable{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: blue;
}

textarea#txtaddOrg, textarea#txtaddUser{
	color:#00F;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width:99.5%;
	height: 60px;

}

/*Config Working Time*/
.wrapper .mainContent .frmConfigWorkingTime .contentConfigWorkingTime {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	width: 97.2%;
	padding-left:14px;
	padding-top: 10px;
	margin-top:-1px;
	margin-left: 5px;
	text-align:left;
	height:75%;
	border: 1px solid #55c9f4;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background-color:#DBEDF4;	
	
}

/*Config Calenader ------------------------------------------------ */

.wrapper .mainContent #frmConfigCalendar .contentConfigCalendar {
	border: 1px solid #55c9f4;
	margin-left: 5px;
	margin-top:-1px;
	width:97.2%;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	padding-left:14px;
	padding-top:10px;
	padding-right:0px;
	background-color:#DBEDF4;
}
.wrapper .mainContent #frmConfigCalendar .contentConfigCalendar #filter {
	height:24px;

	padding-right:5px;
	width:98%;
}
#filter #search-label{
	color:#F90;
}
.wrapper .mainContent #frmConfigCalendar .contentConfigCalendar #filter #view {
	background:url(<%=request.getContextPath()%>/images/lmis/small-button.png) no-repeat left;
	color:#FFF;
	font-size:10pt;
	height:26px;
	width: 55px;
	border:none;
	
}
.wrapper .mainContent #frmConfigCalendar .contentConfigCalendar #filter #slt-month {
	width:50px;
	height: 24px;
}
.wrapper .mainContent #frmConfigCalendar .contentConfigCalendar #filter #slt-year {
	width:50px;
}

.wrapper .mainContent #frmConfigCalendar .addMoreHoliday {
	border: 1px solid #00B0F0; 
	width: 98%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
	
}
.wrapper .mainContent #frmConfigCalendar legend {
	color: #00A2EA;
	font-weight: bold;
	font-family:	Arial, Helvetica, sans-serif;
	text-align: right; 
	margin-left: 1px;
	padding-right: 5px;
}
.content-of-add-holiday{
	padding-bottom: 10px;
	padding-left: 5px; 
	padding-right: 5px; 
	padding-top: 10px;
	
}
#note{
	height: 60px;
	width: 230px;
	border: 1px solid #AAAAAA;
	padding-right: 10px;
}
.month-of-calendar{
	float: left;
    height: 30px;
    padding-left: 0px;
    position: relative;
    vertical-align: middle
}
	
.year-of-calendar{
	float: left;
    height: 30px;
    padding-left: 1px;
    position: relative;
    width: 100px;

}
	
.view-of-calendar{
	float: left;
    height: 30px;
    padding-left: 18px;
    position: relative;
    width: 100px;

}
/*-------------------------------------------------*/

.wrapper .mainContent .tbl-header {
	background:url(<%=request.getContextPath()%>/images/lmis/bg_line.png) repeat-x;
	height:30px;
	color:#FFF;
	border: 1px solid #C0C0C0;
	text-align: center;

}
.wrapper .mainContent .tbl-header th {
	background:url(<%=request.getContextPath()%>/images/lmis/bg_line.png) repeat-x;
	border: 1px solid #C0C0C0;
	text-align: center;
	border-collapse: collapse;	
	height:30px;
	
}
.mainContent .table-content td{
	border: 1px solid #C0C0C0;
}
.mainContent .table-content tbody tr{
	height: 24px;	
}
.mainContent .table-content{
        width: 100%;
}
.table-content table{
	border: 1px solid #C0C0C0;
	/*border="1px solid #ececec" cellpadding="0" cellspacing="0"	;*/
}
.table-content td{
	border: 1px solid #C0C0C0;
	/*border-collapse: collapse;*/
		
}
td.text-indent{
	text-indent: 10px;
}

.addMoreHoliday texterea{
	padding-right : 3px;
	text-indent: 3px;
	text-align: justify;
	border: 2px solid #ececec;	
	
}
.div-of-table-content{
	padding-top:10px; 
	padding-bottom:10px;
	padding-right: 10px;
	margin-left: -5px;
}
.oddrow{
	background-color:#ffffff;   
	border:1px solid #C0C0C0;
	height: 24px;
}
.evenrow{
    background-color:#D5E3E6 ;
	border:1px solid #C0C0C0;
	height: 24px;
}
.wrapper .mainContent #frmConfigCode .config-code-search {
	height:auto;
	padding-top:5px;
	width: 100%;
	padding-bottom:5px;
}

.wrapper .mainContent #frmConfigCode .contentConfigCode {
	border: 1px solid #55c9f4;
	margin-left: 5px;
	margin-top:-1px;
	width:97.2%;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	padding-left:5px;
	padding-top:10px;
	padding-right:0px;
	background-color:#DBEDF4;
}


/* Config Code */
.wrapper .mainContent #frmConfigCode .contentConfigCode .tbl-config-code {
	height:auto;
	width:99%;
}
#tbl-content-div-name {
	text-align:left;
	padding-left:12px;
}
.wrapper .mainContent #frmConfigCode .contentConfigCode .tbl-config-code #tbl-odd input {
	width:98%;
	text-align:center;
}
.wrapper .mainContent #frmConfigCode .contentConfigCode .tbl-config-code #tbl-even input {
	width:98%;
	text-align:center;
}
.button-disable{
	width:65px;
	background: url(<%=request.getContextPath()%>/images/lmis/configAttendanceInfo/disable-button.png) no-repeat;
	font:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:14px;
	height:28px;
	vertical-align:middle;
	font-weight:normal;
	border:0px;
	cursor:pointer;
}
.button-enable{
	width:65px;
	background-image: url(<%=request.getContextPath()%>/images/lmis/configAttendanceInfo/button-blue.png) ;
	font:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:14px;
	height:28px;
	vertical-align:middle;
	font-weight:normal;
	border:0px;
	cursor:pointer;
}
.default-button-enable{
	width:80px;
	background-image: url(<%=request.getContextPath()%>/images/lmis/Dong_Y.png) ;
	font:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:14px;
	height:28px;
	vertical-align:middle;
	font-weight:normal;
	border:0px;
	cursor:pointer;
}
.default-button-disable{
	width:80px;
	background-image: url(<%=request.getContextPath()%>/images/lmis/Dong_Y_Disable.png) ;
	font:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:14px;
	height:28px;
	vertical-align:middle;
	font-weight:normal;
	border:0px;
	cursor: pointer;
}
.wrapper .warning{
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:red;
	height: 25px;
}
/* PhatNT ConfigConde */
.table-content table tbody .txt input{
	width: 95%;	
}
.table-content table tbody #fullname {
	padding-left: 5px;
	text-align: left;
	text-indent: 10px;
}
.table-content table tbody #tdEdit #editCode{
	cursor: pointer;
}
.table-content table tbody #tdEdit {
	text-align: center;
}

#btnControl{
	margin: 10px auto;
	width: 100%;
	height: 50px;
	text-align: center;
	word-spacing: 10px;
}
input#btnControl{
	width: 50px;
	
}
td.txt input{
	text-align:center;
}


/* End PhatNT ConfigConde */


/* config coefficient overtime */
.wrapper .mainContent .frmConfigCoefficientOvertime .contentConfigCoefficientOvertime {
	border: 1px solid #55c9f4;
	width:97%;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-bottom-left-radius: 2x;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	padding-left:14px;
	background-color:#DBEDF4;
	padding-bottom: 5px;
	padding-top:10px;
	padding-right: 2px;
	margin-left:5px;
	margin-top:-1px;
	font-size: 13px;
}
.input-style{
	width: 150px; text-align: right; height:20px;
}
img.ui-datepicker-trigger {
    margin: 2px;
    vertical-align: -5px !important;
}

.error_strings{ 
	font-family:Verdana;
	font-size:11px; color:red;
	background-color:#DBEDF4;
}

.wrapper .mainContent .frmConfigFile .contentConfigFile {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	width: 97.2%;
	padding-left:14px;
	padding-top: 10px;
	margin-top:-1px;
	margin-left: 5px;
	text-align:left;
	height:75%;
	border: 1px solid #55c9f4;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-bottom-left-radius: 2px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background-color:#DBEDF4;	
}
.ui-dialog-buttonpane{
	border-top: none !important;
}
.ui-dialog-titlebar{
	background: url(<%=request.getContextPath()%>/images/lmis/configAttendanceInfo/bg_line.png) !important;
}