/*----------------------AuPV-------------------------*/
.cds-container {
	font-size: 10pt;
	font-family: Arial;
	margin: auto;
	width: 910px;
}

.cds-container .border-radius {
	-moz-border-radius: 5px;
	border: 1px solid #83C7D8;
}

.cds-container .background-radius {
	background-color: #DBEEF4;
	-moz-border-radius: 5px;
}

.cds-container label {
	font-weight: inherit;
}

.cds-container .cds-background-white {
	background-color: white;
}

/*CSS FOR TABLE*/
.cds-container .td-align-left {
	text-align: left;
	vertical-align: middle;
}

.cds-container .td-align-right {
	text-align: right;
	vertical-align: middle;
}

.cds-container .td-align-center {
	text-align: center;
	vertical-align: middle;
}

.cds-container .td-align-top {
	vertical-align: top;
}

.cds-container .content-has-table {
	margin: auto;
	margin-bottom: 20px;
	width: 910px;
	background-color: #DBEEF4;
	/* border: 1px solid #30A1BE; */
}
.padding-top {
	padding-top: 10px;
}
.padding-bottom {
	padding-bottom: 10px;
}
.padding-left {
	padding-left: 10px;
}
.padding-right{
	padding-right: 10px;
}
.min-height {
	min-height: 10px;
}
/*CSS FOR POP UP*/
.simpleModalPopup {
	display: none;
}

/* Overlay */
#simplemodal-overlay {
	background-color: #000;
	cursor: wait;
}

/* Popup Container */
.simpleModalPopup { /* 	height: 140px; */
	/* 	width: 420px; */
	font: 10pt Arial, 'Trebuchet MS', Verdana;
	text-align: left;
	background: #fff;
	border: 2px solid #336699;
}

.simpleModalPopup .header {
	height: 25px;
	line-height: 25px;
	width: 100%;
/* 	background: url(/ProGate-portlet/images/cds/header-popup.gif) repeat-x; */
	background-color: #356EB2; 
	color: #fff;
	font-weight: bold;
}

.simpleModalPopup .header span {
	padding-left: 8px;
}

.simpleModalPopup .message { /*color: #333;
	font-size: 14px;
	margin: 0;
	padding: 12px 4px 12px 8px;*/
	
}

.simpleModalPopup .yes,.simpleModalPopup .no {
	font: 10pt Arial, 'Trebuchet MS', Verdana;
	background-color: #326AAC;
	padding: 2px 15px 2px 15px;
	border: 2px solid #EAEAEA;
	color: white;
	cursor: pointer;
}

/*
#simplemodal-container a.modalCloseImg {
	background: url(/ProGate-portlet/images/cds/x.png) no-repeat;
	width: 25px;
	height: 29px;
	display: inline;
	z-index: 3200;
	position: absolute;
	top: 6px;
	right: 6px;
	cursor: pointer;
}
*/
input[type="text"],input[type="password"],input.text,input.title,textarea,select
	{
	margin: 0;
}

.requiredFieldMessage {
	color: red;
}

/*Progress bar*/
.progressbar{
	background-color:white;
	border:1px solid gray;
	position:relative;
}
.progressbar div.progress{
	background-color: #06D62A;
	float: left;
	height: 100%;
	overflow: hidden;
	position: absolute;
}
.progressbar div.text{
	font-size:8pt;
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
}

.cds-notification{
	text-align: center; margin-top: 10px; margin-bottom: 10px;
}

.cds-loading{
	display:none; height: 951px; width: 1424px; left: 0; opacity: 100; position: fixed; top: 0; z-index: 1001;
}
.cds-loading img{
	position: fixed;top: 50%; left: 50%; margin-top: -50px; margin-left: -50px;
}
/*----------------------End - AuPV-------------------*/

/*----------------------DungNT-------------------*/
img.absmiddle {
	vertical-align: middle;
/* 	margin: .25em 0; */
}

.filter-area {
	/*float: left;*/
	padding: 10px;
	background-color: #DBEEF4;
	text-align: left;
	-moz-border-radius: 5px;
}

.scroll {
	overflow: auto;
}
.scroll-hidden {
	overflow: hidden;
}
.scroll-y {
	overflow-y: auto;
    overflow-x: hidden;
}
.scroll-x {
    overflow-x: auto;
	overflow-y: hidden;
	border-bottom: 1px solid #FFF;
}

#ui-datepicker-div{
	z-index: 2000; 
	background-color: white; 
	padding: 5px; 
	border: 1px solid gray;
	display:none;
}
.cds_content {
	margin: auto;
	padding-bottom: 10px;
	border: 1px solid #30A1BE;
}
.requiredFieldTitle {
	color: red;
	margin: 10px 0px;
}
.fieldsetAlign {
	margin-left: -1.4em;
}
.slot-information {
	margin: 0px 3px 10px 3px;
	padding: 15px 2px 15px 10px;
	-moz-border-radius: 5px;
	background-color: #FFFFCC;
	/* border: 1px solid #FFFFCC !important; */
}
.cds-btn {
	font: 10pt Arial, 'Trebuchet MS', Verdana;
	background-color: #326AAC;
	padding: 2px 15px 2px 15px;
	border: 2px solid #EAEAEA;
	-moz-border-radius: 4px 4px 4px 4px;
	color: white;
	cursor: pointer;
}
.cds-btn-dis {
	font: 10pt Arial, 'Trebuchet MS', Verdana;
	background-color: lightgray;
	padding: 2px 15px 2px 15px;
	border: 2px solid #EAEAEA;
	-moz-border-radius: 4px 4px 4px 4px;
	color: white;
	cursor: default;
}
.tr-highlight {
	background-color: #FFFFBB !important;
}
.notification {
	margin: 0px 3px;
	padding-top: 10px;
	border: 1px solid #30A1BE;
	height: 100px;
	background-color: #FFF;
	text-align: center;
}
.cds-paging {
	padding: 8px;
	background-color: #DBEEF4;
}
.cds-footnote {
	background-color: #DBEEF4;
	-moz-border-radius: 0 0 5px 5px;
}
img.ui-datepicker-trigger {
	margin: -4px 2px 2px;
	vertical-align: middle;	
}
/*----------------------End - DungNT-------------------*/

/*----------------------Begin - VuP-------------------*/
.cds-btn-yes, .cds-btn-no {
	font: 10pt Arial, 'Trebuchet MS', Verdana;
	background-color: #326AAC;
	padding: 2px 15px 2px 15px;
	border: 2px solid #EAEAEA;
	color: white;
	cursor: pointer;
}

.cds-table tr.highlight {
	background-color: #F1DCDB;
}

.cds-table tr.focus {
	background-color: #F1DCDB;
}
/*----------------------End - VuP-------------------*/