<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" >
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="messages" />
	</bean>
	
	<!-- 
	<bean id="portletMultipartResolver"
    	class="org.springframework.web.portlet.multipart.CommonsPortletMultipartResolver">    
    	<property name="maxUploadSize" value="100000"/>
	</bean>
	 
	<bean id="multipartResolver" class="com.larion.progate.common.controllers.MultiCommonsMultipartResolver">
		<property name="maxUploadSize" value="5000000" />
		<property name="maxInMemorySize" value="5000000" />
	</bean>
	-->
</beans>