#maincontainer {
	HEIGHT: 100%
}
B {
	FONT-SIZE: 110%
}
EM {
	COLOR: red
}
#maincontainer {
	MARGIN: 0px auto; WIDTH: 100%
}
#topsection {
	HEIGHT: 90px
}
#topsection H1 {
	MARGIN: 0px; PADDING-TOP: 15px
}
#contentwrapper {
	WIDTH: 100%;
}
#contentcolumn {
	MARGIN-LEFT: 3px
}
#leftcolumn {
	WIDTH: 200px; FLOAT: left; MARGIN-LEFT: -100%
}
.innertube {
	padding: 10px;
}
.a-active {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium; COLOR: orange; FONT-WEIGHT: bold
}
