.tbl-new-form TD {
	BORDER-BOTTOM: white 1px solid;
	BORDER-LEFT: white 1px solid;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	BACKGROUND: #fdeada;
	BORDER-TOP: white 1px solid;
	BORDER-RIGHT: white 1px solid;
	PADDING-TOP: 2px
}

.label-field {
	PADDING-LEFT: 5px;
	FLOAT: left
}

.pass-strength-field {
	PADDING-LEFT: 2px;
	FLOAT: left;
}

.txt-field {
	WIDTH: 96%;
	FLOAT: left;
	HEIGHT: 15px;
	VERTICAL-ALIGN: middle
}

.date-field {
	WIDTH: 96%;
	FLOAT: left;
	HEIGHT: 15px;
	VERTICAL-ALIGN: middle
}

.select-field {
	WIDTH: 97%;
	FLOAT: left;
	HEIGHT: 24px;
	VERTICAL-ALIGN: middle
}
.width_select{
  width:97.3%;
}
.width_select_edit{
	width: 97.3%;
}
.lbl-for-radio {
	PADDING-BOTTOM: 5px;
	HEIGHT: 15px;
	VERTICAL-ALIGN: middle
}

.tbl-list-org-admin-header TD {
	TEXT-ALIGN: center;
	BACKGROUND: url(../images/line.gif) repeat-x left top;
	HEIGHT: 35px;
	COLOR: #ffffff;
	FONT-SIZE: 8pt;
	VERTICAL-ALIGN: middle;
	FONT-WEIGHT: bold
}

.tbl-list-org-admin-row-0 TD {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	BACKGROUND: #fdeada;
	PADDING-TOP: 3px
}

.tbl-list-org-admin-row-1 TD {
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 3px;
	PADDING-RIGHT: 3px;
	BACKGROUND: #ffffff;
	PADDING-TOP: 3px
}

#scroll_box {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	MARGIN: 1em 0px;
	WIDTH: 100%;	
	OVERFLOW: auto;
	BORDER-TOP: 0px;
	BORDER-RIGHT: 0px
}
.popup_message{	
 	padding-left: 34px;
    padding-top: 6px;
}
#dialog_edit_org{
	background:url("/ProGate-portlet/images/info.gif") no-repeat scroll 6px 6px transparent;
	margin:0;
	color:#000000;
	font-size:13px;
	text-align:justify;
    display:none;
}
#dialog_create_org{
	background:url("/ProGate-portlet/images/info.gif") no-repeat scroll 6px 6px transparent;
	margin:0;
	color:#000000;
	font-size:13px;
	text-align:justify;
    display:none;
}
