.wrapper {
    position: relative;
    width: 98%;
    height: auto;
    margin: autopx;
    border: solid 1px #1BC9E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: normal normal normal 13px / normal Arial, Helvetica, Verdana, sans-serif;
    min-width: 600px;
    overflow:hidden;
    padding-bottom:0px;
    margin-top:20px;
    margin-left:8px;
}

.header {
    float: left;
    width: 100%;
    height: 30px;
    background: url("<%=request.getContextPath()%>/images/lmis/bg_line.png") repeat-x scroll left top transparent;
    text-align: left;
    position: relative;
	color:#ffffff;
}
.header #title{
	padding-top:5px;
	padding-left:10px;
}
.clear{
	clear:both;
}
.clear-right{
	clear: right;
}
.clear-left{
	clear:left;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.align-center{
	text-align:center;
}
.alert{
	Display:none;
	padding-top:10px;
	padding-left:10px;
	font-size:16px;
	color:red;
}

.content{
	height:auto;
	min-width:750px;
	width:98%;
	border-style:solid;
	border-color:#1BC9E1;
	border-width:1px;
	background-color:#DBEDF4;
	font-size:12px;
	position:relative;
	margin-left:8px;
	margin-top:-2px;
	margin-bottom:20px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow:hidden;
}

.createChange{
	margin-top:-28px;
	float:right;
	margin-right:10px;
}
#_createChange{
	vertical-align: super;
	color:blue;
	font-weight: bold;
	text-decoration: none;
}
.undo{
	margin-top:-28px;
	float:right;
	margin-right:10px;
}
#_undo{
	vertical-align: super;
	color:blue;
	font-weight: bold;
	text-decoration: none;
}
.cls-rightAngle{
	margin-top:-28px;
	float:right;
}
#id-rightAngle{
	vertical-align: super;
	color:blue;
	font-weight: bold;
	text-decoration: none;
}
.uploadFile{
	margin-top:-35px;
	float:right;
	margin-right:10px;
}
#_uploadFile{
	vertical-align: super;
	color:blue;
	font-weight: bold;
	text-decoration: none;
}
.tableContainer{
	/*position:absolute;*/
	top:50px;
	width:98%;
    height: auto;
	margin-left:8px;
	margin-top:10px;
	margin-bottom:20px;
    -moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
    border: solid 0px #c0c0c0;	
    overflow:hidden;
	border-collapse: collapse;
}
.tableContainer table{
	border-collapse: collapse;
}
.tableContainer th{
	border:solid 1px #c0c0c0;
	background: url("<%=request.getContextPath()%>/images/lmis/bg_line.png") repeat-x scroll left top transparent;
	height:25px;
	text-align: center;
}
.tableContainer td {
	border: solid 1px #c0c0c0;
	height:24px;
}
.tableContainer tbody tr{
	text-align:center;
}

.overflowYForTable{
	overflow-x:hidden; 
}
/*tao scrollbar*/
/*div.tableContainer{
	overflow:hidden;
	width:98%;
	
}
.tableContainer tbody{
	overflow:auto;
	height:234px;
}*/

.contentDetail{
	height:auto;
	min-width:750px;
	width:100%;
	overflow:hidden;
	padding-bottom:10px;
}

.detailChange:HOVER{
	border-color: #000fff;
}

#daily{
	width:48%;
	float:left;
	padding-left:10px;
	padding-top:10px;
}
#daily th{
	border:solid 1px #c0c0c0;
	background: url("<%=request.getContextPath()%>/images/lmis/bg_line.png") repeat-x scroll left top transparent;
	height:25px;
	text-align: center;
}
#daily td{
	border: solid 1px #c0c0c0;
	height:28px;
}
#daily tbody tr{
	text-align:center;
}

#daily tbody tr td input{
	width: 50px;
	text-align: center;
}

#writerDetail{
	width:48%;
	float:left;
	padding-top:10px;
}

#writerDetail table tr td textarea{
	text-decoration:none;
} 

/*To mau cho */
tr.oddrow {
	background-color:#ffffff;
	
}
tr.evenrow {
	background-color:#d4e2e6;
}
tr.hightLight{
	background-color:#d1fe96;
}
tr.hightLight:hover{
	background:url("<%=request.getContextPath()%>/images/lmis/hover.png") repeat-x scroll left top transparent;
}
tr.evenrow:hover {
	background:url("<%=request.getContextPath()%>/images/lmis/hover.png") repeat-x scroll left top transparent;
}
tr.oddrow:hover{
	background:url("<%=request.getContextPath()%>/images/lmis/hover.png") repeat-x scroll left top transparent;
}
td.cls-center{
	text-align: center;
}
td.cls-left{
	text-align: left;
	padding-left: 10px;
}

#dateCreateForm{
	margin-left:25px;
}

.image{
	padding-top:10px;
	padding-left:5px;
	float:left; 
}

#dateCreateForm{
	width: 80px;
}

.search{
	padding:10px 0 0 10px;
	width:98%;
}
/*Input*/
.txt-search {
	display: inline;
    font-size: 12px;
    font-style: italic;
    height: 18px;
    width: 274px;
}
.bt-search{
	padding: 4px 1px 9px 34px;
	background: url("<%=request.getContextPath()%>/images/lmis/Search-icon.png") no-repeat left top; 
	height: 16px;
	width: 16px; 
	cursor: pointer;
	margin-right: 15px;
}
.sort{
	margin-left:10px;
	margin-top:10px;
}

img.ui-datepicker-trigger{
	margin:3px;
	margin-top:1px;
	vertical-align: top;
}

/*Detail Overtime Report*/
.selectProject{
	width:98%;
	padding-left:10px;
	padding-top:10px;
}
._contentDetail{
	height:auto;
	min-width:750px;
	width:98%;
}

.tvna-span{
	padding:10px 0 0 10px;
}
.tvna-span1{
	padding-left:10px;
}
.tvna-span2{
	padding:10px 0 0 10px;
	float:left;
}

/*End Overtime Report*/

/* PhatNT ConfigConde */
.tableContainer table tbody .txt input{
	width: 95%;	
}
.tableContainer table tbody #fullname {
	padding-left: 5px;
	text-align: left;
}
.tableContainer table tbody #tdEdit #editCode{
	cursor: pointer;
}
.tableContainer table tbody #tdEdit {
	text-align: center;
}

#btnControl{
	margin: 10px auto;
	width: 100%;
	height: 50px;
	text-align: center;
	word-spacing: 10px;
}
td#txt input{
	text-align:center;
}
	=======

.legend{
	margin-left:5px;
	color:#0086E6;
	font-weight: bold;
}
.fieldset{
	border:1px solid #0080FF; 
	padding:10px 0 10px 10px;
	color:blue;
	font-weight:bold;
	-moz-border-radius: 5px 5px 5px 5px;
}

.progressBar{
	margin: 10px 10px 0 10px;
}
.progressBar span{
	font-weight:bold;
	color:gray;
}


.progressBar div input{
	border: 1px solid #000000;
	float:right;
	width: 35em;
}
.progressBar  fieldset{
	border:1px solid #B8CBEF; 
	-moz-border-radius: 5px 5px 5px 5px;
}
.content fieldset legend{
	font-weight:bold;
	color:#0080FF;
	padding-left:10px;
}
.dayOff{
	padding:10px;
}
.dayOff fieldset{
	border:1px solid #B8CBEF; 
	-moz-border-radius: 5px 5px 5px 5px;
}
.cls-centerDetail{
	padding-top:10px;
	text-align: center;
	color:#0080FF;
	font-size: 18px;
}
.cls-right{
	float:right;
	padding-top:15px;
	padding-right: 10px;
}
.cls-right select{
	width:227px;
	margin-left:25px;
}
/*----------alert--------*/
.requiredFieldMessage {
	display: block;
	color:red;
}
.hiddenMessage {
	display:none;
}
.scroll{	
	overflow: auto;
}
.scroll-y{
	overflow-y:auto;
	overflow-x:hidden;
}
.scroll-x{
	overflow-y:hidden;
	overflow-x:auto;
}
.table{
	width:100%;
        border:0; 
        cellspacing:0;
}
/*End Overtime Report*/
.cls-ot {
	height:auto;
	min-width:750px;
	width:97%;
	border-style:solid;
	border-color:#1BC9E1;
	border-width:1px;
	background-color:#DBEDF4;;
	font-size:12px;
	position:relative;
	margin-left:10px;
	padding-left: 6px;
	margin-top:-2px;
	margin-bottom:20px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.cls-ot .title-center{
	margin-top: 10px;
	font-size: 16px;
	color: #0080ff;
	font-weight: bold;
	text-align: center;
}
.cls-ot .req-field{
	color: #ff0000;
	height: 25px;
	width: 98%;
}
.cls-ot .content-left{
	float: left;
	width: 48%;
	height: 200px;
}
.cls-ot .content-left .lbl{
	float:left;
}
.cls-ot .content-right{
	float: right;
	width: 48%;
	height: 200px;
	margin-top: 5px;
}
.cls-ot .tbl-title{
	width: 100%;
}
.cls-ot .tbl-title .mbr-join{
	color:#0080ff;
	font-weight: bold;
	text-align:left;
	float:left;
	width: 200px;
	height: 20px;
	font-size: 14px;
}
.cls-ot .tbl-title .err-special{
	float:right;
	color: #ff0000;
	padding-right: 20px;
	display: none;
}
.cls-ot .tbl-content{
	/*position:absolute;*/
	top:50px;
	width:98%;
    height: 260px;
	margin-bottom:20px;
    border: solid 1px #c0c0c0;	
}
select.slt{
	width: 320px;
}
td.cls-org{
	height: 30px;
	vertical-align:middle;
}
tr.cls-reason{
	vertical-align: middle;
}
label.cls-error{
	color:#ff0000;
	display:none;
}
label.cls-error-right{
	color:#ff0000;
	float:right;
	padding-right:10px;
	display:none;
}
.total-ot{
	font-weight:bold;
	color:#00a400;
	width: 98%;
	font-size: 14px;
	height: 20px;#ff0000;
	display:none;
}
div.date-ot{
	width: 98%;
	height: 32px;	
}
div.date-ot input{
	width:74%;
	vertical-align: middle;
	height:20px;
	margin-left: 2px;
}
div.feedback{
	width: 97%;
}
.fbk-field{
	-moz-border-radius: 5px 5px 5px 5px;
	border: 1px solid #00B0F0;
    padding-bottom: 10px;
    padding-left: 10px;
	
}
input.date-req{
	width: 320px;
}
table#tbl-field tbody tr{
	height: 30px;	
}
 
fieldset.fbk-field{
	font-weight: bold;
	color:#0080FF;
}
div.tbl-mbr{
	margin-bottom:10px;
}
div.tbl-mbr table{
	width: 99%;
}
div.tbl-mbr th{
	background: url("/ProGate-portlet/images/lmis/bg_line.png") repeat-x scroll left top transparent;
    border: 1px solid #FFFFFF;
    height: 25px;
    text-align: center;
	color: #ffffff;
}
div.tbl-mbr tr{
	text-align: left;
}
div.tbl-mbr td.cls-ctr{
	text-align:center;
}
div.tbl-mbr td.cls-ctr input{
	text-align:center;
	height: 21px; 
}
div.tbl-mbr td.hour input{
	text-align:right;
	padding-right:5px;
}
div.tbl-mbr tr td input{
	width: 34px;
}
div.tbl-mbr tr td{
	height: 25px;
}
div.tbl-mbr tr td input.h{
	width: 86%;
	height: 21px;
}
div.tbl-mbr tr td.hour{
	text-align:center;
}
div.tbl-mbr tr td.hour input{
	width: 80%;
	display:table-cell;
	text-align:right;
	height: 21px;
}
div.tbl-mbr tr td.tdreason input{
	width: 99%;
	height: 21px;
}
div.flt-right{
	width: 98%;
	padding-right: 10px;
	float: right;
}
a#_ctl-back, a#_ctl-approve{
	text-decoration: none;
	font-weight: bold;
}

	
/************UI******/
.ui-widget-overlay
{
  opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;

  background-color: rgb(50, 50, 50) !important; /* This will make it darker */
}
/* Statistic */
div.statt{
	margin-top: 44px;
}
div.statt-left{
	float:left;
	width: 36%;
	padding-left:10px;
}
div.statt-right{
	float:right;
	width: 60%;
	padding-right:10px;
	margin-top: 5px;
}
div.war{
	border:solid 2px #ff0000; 
	padding: 3px;
	border: solid 1px #1BC9E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	height:114px;
}
label.stt{
	font-weight:bold;
	color:#0F9FB4;
}
table.fset-probar{
    margin-left: 5px;
    margin-top: 10px;
    width: 320px;
}
table.fset-probar tbody tr{
    height: 20px;
    line-height: 5px;
}
table.fset-probar tbody th{
    height: 20px;
    line-height: 5px;
}
fieldset.fset{
	border: solid 1px #1BC9E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	color:#ed6c0d;
	height:168px;
	font-weight:bolder;
	padding-left:10px;
}
div.award{
	border: solid 1px #1BC9E1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	color:#ed6c0d;
	height:88px;
	font-weight:bolder;
}

.cls-stt-right{
	text-align: right;
	font-weight:bold;
	padding-right: 10px;
	font-size: 14px;
}
.stt-header th{
	color: white;
 padding-left: 10px;
    text-align: left;
}
textarea#txt-reason{
	margin-top: 5px;	
}


