.ui-dialog-titlebar{
	background: url("/ProGate-portlet/images/lmis/bg_line.png") repeat-x scroll left top transparent !important;
}

#ui-datepicker-div{
	z-index:2000;
}
.ui-dialog-titlebar-close{
	background: url("/ProGate-portlet/images/lmis/close.png") no-repeat scroll 0 0 transparent !important;
}
.ui-dialog-title{
	font-size:14px !important;
	top:4px !important;
}