@CHARSET "UTF-8";

#content h3{
	font-size: 18px;
    font-weight: normal;
}
#content .success_message {
    background: url("<%=request.getContextPath()%>/images/news_org/success.png") no-repeat scroll 10px 50% #E1FBE6;
    border:1px solid #E1FBE6;
    display: block;
    font-weight: bold;
    margin: 10px 10px 0 10px;
    padding: 6px 6px 6px 30px;
    text-align: left;
    height: 12px;
}

#content .warning_message{
    background: url("<%=request.getContextPath()%>/images/news_org/error.png") no-repeat scroll 10px 50% #FDEFED;
    border: 1px solid #FDEFED;
    display: block;
    font-weight: bold;
    height: 12px;
    margin: 10px 10px 0 10px;
    padding: 6px 6px 6px 30px;
    text-align: left;
}
#private-content .success_message {
    background: url("<%=request.getContextPath()%>/images/news_org/success.png") no-repeat scroll 10px 50% #E1FBE6;
    border:1px solid #E1FBE6;
    display: block;
    font-weight: bold;
    margin: 10px 10px 0 0px;
    padding: 6px 6px 6px 30px;
    text-align: left;
    height: 11px;
}
#private-content .warning_message{
    background: url("<%=request.getContextPath()%>/images/news_org/error.png") no-repeat scroll 10px 50% #FDEFED;
    border: 1px solid #FDEFED;
    display: block;
    font-weight: bold;
    height: 11px;
    margin: 10px 10px 0 0px;
    padding: 6px 6px 6px 30px;
    text-align: left;
}
#dialogDelete{
	background: url("<%=request.getContextPath()%>/images/news_org/info.gif") no-repeat scroll 16px 16px transparent;
    color: #000000;
    display: none;
    font-size: 13px;
    height: 120px;
    margin: 0;
    padding: 1em 0.75em;
    text-align: justify;
}
.ui-dialog-container #dialogDelete{
	 display: block;
}
.messageDelete{
	float: left; padding-top: 10px;
}
.backgroundAlert{
	background-color: #FDF7CD; height: 36px; width: 317px;
}
.imageAlert{
	float: left; padding-top: 5px; padding-right: 5px; padding-left: 17px;
}

.grid-b #sidebar {
	float: left;
	width: 20.8%;
}

.grid-b #content {
	float: right;
	width: 77.1%;
}

.photo-profile a:hover {
	text-decoration: underline;
}

.photo-profile a:visited,#footer a:visited {
	color: #069;
}

.photo-profile p.intro {
	font-size: 13px;
	margin-bottom: 1em;
}

input.primary {
	background: #39c
		url(http://static02.linkedin.com/scds/common/u/img/sprite/sprite_global_v1.png)
		no-repeat 0 -260px;
	text-decoration: none;
	color: #fff !important;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #069;
	padding: 3px 5px 2px;
	*padding: 5px 0 3px;
	vertical-align: top;
	line-height: 1.5;
}

input.secondary,.btn-second {
	background: #ddd
		url(http://static02.linkedin.com/scds/common/u/img/sprite/sprite_global_v1.png)
		no-repeat 0 -260px;
	text-decoration: none;
	color: #555 !important;
	font-weight: bold;
	font-size: 12px;
	border: 1px solid #999;
	padding: 3px 5px 2px;
	*padding: 5px 1px 3px;
	vertical-align: top;
	line-height: 1.5;
}

.btn-primary,.btn-secondary,.btn-ternary,.btn-quaternary,.btn-action {
	background-image:
		url(http://static01.linkedin.com/scds/common/u/img/sprite/sprite_chrome_v3.png);
	background-repeat: repeat-x;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.35;
	margin: 0;
	overflow: visible;
	padding: 3px 10px 2px;
	*padding: 2px 10px 1px;
	text-decoration: none !important;
	vertical-align: top;
	width: auto;
}

a.btn-primary,a.btn-secondary,a.btn-ternary,a.btn-quaternary,.btn-action
	{
	display: inline-block !important;
	*padding: 3px 10px;
}

a.btn-primary:hover,a.btn-secondary:hover,a.btn-ternary:hover,a.btn-quaternary:hover,.btn-action:hover
	{
	text-decoration: none !important;
}

.btn-primary[disabled],.btn-primary.disabled,.btn-secondary[disabled],.btn-secondary.disabled,.btn-ternary[disabled],.btn-ternary.disabled,.btn-quaternary[disabled],.btn-quaternary.disabled,.btn-action[disabled],.btn-action.disabled
	{
	cursor: default;
}

.btn-primary,.btn-menu-open.btn-primary,.btn-split.btn-primary:hover {
	background-color: #0571a6 !important;
	background-position: 0 -400px;
	border-color: #045a8b;
	color: #fff !important;
}

.btn-primary:hover,.btn-toggle-hover.btn-primary:hover {
	background-color: #04608e !important;
	background-position: 0 -450px;
	border-color: #004a73;
}

.btn-split-toggle-hover .btn-primary {
	border-right-color: #004a73;
}

.btn-primary:active,.btn-split-toggle-hover.btn-primary:active {
	background-color: #267696;
	background-position: 0 -500px;
	border-color: #004a73;
}

.btn-primary[disabled],.btn-primary.disabled {
	background-color: #82b8d2;
	background-position: 0 -550px;
	border-color: #81acc5;
	color: #ddebf2 !important;
}

.btn-secondary,.btn-menu-open.btn-secondary {
	background-color: #cecece;
	background-position: 0 -600px;
	border-color: #999;
	color: #666 !important;
}

.btn-secondary:hover {
	background-color: #b7b7b7;
	background-position: 0 -650px;
}

.btn-secondary:active {
	background-color: #c9c9c9;
	background-position: 0 -700px;
}

.btn-secondary[disabled],.btn-secondary.disabled {
	background-color: #e6e6e6;
	background-position: 0 -750px;
	border-color: #ccc;
	color: #b0b0b0 !important;
}

img.photo,span.photo {
	display: block;
	padding: 2px;
	border: 1px solid #e6e6e6;
}

.droplist {
	z-index: 3;
}

ul.drop {
	display: none;
	overflow: hidden;
	background-color: #fff;
	border: 2px solid #ccc;
	border-top-width: 1px;
	position: absolute;
	right: 0;
	top: 2em;
	min-width: 150px;
}

.open ul.drop {
	display: block;
	z-index: 1000;
}

ul.drop li {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	display: inline;
	width: 100%;
}

ul.drop li a,#body ul.drop li strong {
	background: #fff none;
	outline: none;
	color: #069;
	font-size: 12px;
	display: block;
	margin: 0;
	padding: 5px 8px;
	text-align: left;
	border-top: 1px solid #ccc;
	width: 100%;
	min-width: 100px;
	*min-width: 140px;
}

ul.drop li a:hover {
	background-color: #ddf0f8;
	text-decoration: none;
}

ul.drop li strong {
	background-color: #999;
	color: #fff;
	font-weight: bold;
	line-height: 1.2;
}

.standard-form ul ul,.standard-form .fieldgroup {
	margin: 0 0 0 195px;
	padding: 0;
}

.standard-form fieldset.details ul {
	margin: 0;
}

.standard-form li,.standard-form fieldset.details li {
	margin-bottom: 10px;
}

.standard-form li:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.standard-form li li,.standard-form fieldset.details li li {
	margin-bottom: 0;
}

.standard-form fieldset.details li input,.standard-form fieldset.details li select
	{
	margin-left: 20px;
}

.standard-form .last {
	background-image: none;
	margin-bottom: 0;
}

.standard-form {
	margin: 20px 40px;
}

.standard-form fieldset {
	background: url("/ProGate-portlet/images/bg_grey_dotted_h-line_3x1.png")
		repeat-x scroll 0 0 transparent;
}

.standard-form li fieldset {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	margin: 0;
	padding: 0;
}

.standard-form fieldset.details {
	background: none repeat scroll 0 0 #EBEBEB;
	margin: 10px 0 0 195px;
	padding: 10px 10px 1px;
}

.standard-form fieldset fieldset.details,.standard-form .fieldgroup fieldset.details
	{
	margin-left: 0;
}

.standard-form fieldset.details fieldset {
	margin: 0;
	padding: 0;
}

.standard-form legend {
	background-color: #FFFFFF;
	color: #333333;
	font-size: 180%;
	padding-right: 10px;
}

.standard-form label,.standard-form li fieldset legend span,.standard-form li fieldset.details fieldset legend
	{
	background-color: transparent;
	color: #333333;
	display: block;
	float: left;
	font-size: 130%;
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
	width: 185px;
}

.standard-form li fieldset legend {
	line-height: 1.5;
	margin: 0;
	padding: 0;
	position: relative;
}

.standard-form li fieldset legend span {
	font-size: 13px;
	position: absolute;
	white-space: normal;
}

.standard-form .optional label em,.standard-form .optional legend em {
	display: block;
	font-weight: normal;
}

.standard-form .required label em,.standard-form .required legend em {
	color: #990000;
}

.standard-form li fieldset.details legend {
	display: none;
}

.standard-form li fieldset.details fieldset legend {
	float: none;
	text-align: left;
}

.standard-form .fieldgroup.checkbox input {
	float: left;
}

.standard-form .fieldgroup.checkbox p {
	padding-left: 23px;
}

.standard-form .fieldgroup.checkbox .details {
	margin-left: 23px;
}

.standard-form .fieldgroup.checkbox label,.standard-form label.checkbox
	{
	display: inline;
	float: none;
	font-weight: normal;
	line-height: 1;
	padding: 0;
	text-align: left;
	vertical-align: 2px;
	width: auto;
}

.standard-form .fieldgroup.checkbox label {
	display: block;
	padding: 4px 0 0 23px;
}

.standard-form li fieldset label,.standard-form li fieldset.details fieldset label
	{
	float: none;
	font-weight: normal;
	line-height: 1;
	margin-bottom: 0;
	text-align: left;
	width: auto;
}

.standard-form li fieldset.details label,.standard-form li fieldset.details label,.standard-form li .checkbox fieldset.details label
	{
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0;
}

.standard-form li fieldset.details li.checkbox {
	display: block;
	padding: 0;
}

.standard-form li fieldset.details li.checkbox input {
	margin-left: 0;
}

.standard-form li fieldset.details li.checkbox label {
	font-weight: normal;
	margin-left: 0;
	padding: 4px 0 0 20px;
}

.standard-form li fieldset.details li.checkbox .subchoice {
	margin: -8px 0 -3px;
	padding: 9px 0 0 34px;
}

.standard-form li fieldset.details li .info {
	background: url("/ProGate-portlet/images/icon_info_yellow_16x16.png")
		no-repeat scroll 0 0 transparent;
	font-size: 13px;
	padding: 0 0 1px 20px;
}

.standard-form input,.standard-form select,.standard-form textarea {
	font-size: 13px;
}

.standard-form p {
	color: #333333;
	margin-left: 195px;
	margin-top: 0.25em;
}

.standard-form p.instructions {
	font-size: 13px;
	margin-bottom: 5px;
}

.standard-form p.attention {
	background: url("/ProGate-portlet/images/icon_status_info_16x16_v2.png")
		no-repeat scroll 8px 6px #FFF5CC;
	font-size: 130%;
	padding: 6px 6px 6px 30px;
}

.standard-form p.example,.standard-form p.tip,.standard-form p.note {
	color: #666666;
	font-size: 110%;
}

.standard-form p.actions {
	background: url("/ProGate-portlet/images/bg_grey_dotted_h-line_3x1.png")
		repeat-x scroll 0 0 transparent;
	font-size: 13px;
	margin-top: 20px;
	padding-top: 20px;
	width:99%;
}

.standard-form p.actions input {
	font-size: inherit;
	vertical-align: middle;
}

.standard-form p.actions .alternate {
	line-height: 2;
}

.standard-form p.key {
	color: #666666;
	font-size: 110%;
	margin-top: 15px;
}

.standard-form p.key strong {
	color: #990000;
	font-size: 130%;
	vertical-align: top;
}

.standard-form .error {
	color:red;
	font-size: 13px;
}

.standard-form.sided {
	margin: 20px 10px;
}

.standard-form.sided ul ul,.standard-form.sided .fieldgroup {
	margin-left: 120px;
}

.standard-form.sided .fieldgroup {
	
}

.standard-form.sided p {
	margin-left: 120px;
}

.standard-form.sided fieldset.details {
	margin-left: 120px;
}

.standard-form.sided fieldset.details ul label {
	width: auto;
}

.standard-form.sided label,.standard-form.sided li fieldset legend span,.standard-form.sided li fieldset.details fieldset legend
	{
	width: 110px;
}

.standard-form.sided fieldset.details,.standard-form.sided fieldset.details ul
	{
	margin-left: 0;
}

.standard-form.simple {
	margin-top: 0;
}

.standard-form.simple .checkbox label {
	display: inline;
	padding: 0;
	vertical-align: middle;
}

.standard-form.simple .checkbox label input {
	display: inline;
	float: none;
}

.standard-form.stacked {
	margin: 0 10px;
}

.standard-form.stacked label,.standard-form.stacked li fieldset legend span
	{
	float: none;
	line-height: 1.5;
	text-align: left;
}

.standard-form.stacked li.required {
	
}

.standard-form.stacked li.required label,.standard-form.stacked li.required fieldset legend span
	{
	margin-left: -10px;
}

.standard-form.stacked li.required fieldset label {
	margin-left: inherit;
}

.standard-form.stacked li fieldset legend span {
	position: static;
}

.standard-form.stacked li.required input {
	
}

.standard-form.stacked li fieldset input {
	
}

.standard-form.stacked ul ul,.standard-form.stacked .fieldgroup,.standard-form.stacked fieldset.details,.standard-form.stacked p,.standard-form .fieldgroup p,.standard-form fieldset.details p
	{
	margin-left: 0;
}

.standard-form .screen,.ajax-form .screen {
	display: block;
	opacity: 0;
	position: relative;
	z-index: 2;
}

.standard-form .progress-indicator,.ajax-form .progress-indicator {
	display: none;
}

.standard-form.form-submit-processing .hidden,.ajax-form.form-submit-processing .hidden
	{
	overflow: hidden;
	visibility: hidden;
	width: 1px;
}

.standard-form.form-submit-processing .progress-indicator,.ajax-form.form-submit-processing .progress-indicator
	{
	background: url("/ProGate/images/anim_loading_16x16.gif") no-repeat
		scroll 5px center transparent;
	display: inline;
	padding-left: 21px;
}

/*========================*/
.grid-b #sidebar {
	float: left;
	width: 20.8%;
}

.grid-b #content {
	float: right;
	width: 77.1%;
}

.profile-photo #sidebar {
	width: 19%;
}

.btn-primary,.btn-second,.btn-secondary {
	font-size: 95%;
}

#bt-upload-cancel {
	font-size: 13px;
}

.profile-photo {
	color: #000;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}



.profile-photo .standard-form {
	margin-bottom: 20px;
}

.profile-photo h2 {
	color: #333333;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: normal;
}

.profile-photo .fieldgroup {
	margin: 0 0 12px;
}

.profile-photo ul,.profile-photo li {
	list-style: none outside none;
	margin: 0 0 4px;
	padding: 0;
}

.profile-photo p.note {
	margin: 5px 0 0;
}

div.current-photo {
	margin: 0 auto;
	padding: 0 20px 0 0;
	text-align: center;
	width: 150px;
}

div.current-photo .title {
	margin: 0 -20px 0 0;
	padding: 0 20px 0 0;
}

div.current-photo .title h3 {
	border: 0 none;
	color: #333333;
	font-size: 13px;
	height: 1%;
	margin: 0;
	padding: 20px 0 10px 66px;
	font-weight: normal;
}

div.current-photo .content {
	margin-right: 0;
	padding: 0 0 24px 20px;
}

div.current-photo img {
	border: 1px solid #E6E6E6;
	padding: 2px;
	/*width: 178px;
    height: 148px;*/
}

div.current-photo ul {
	margin: 10px 0 0;
}

div.current-photo li {
	font-size: 13px;
	margin: 5px 0 0;
}

div.current-photo a {
	color: #30A1BE;
	text-decoration: underline;
	display:block;
	width: 170px;
	text-align: center;
}
div.current-photo a:hover {
	color: orange;
}

/*================Logo & Banner Style==========================*/
.lb-layout-common {
	
}

.lb-logo-layout {
	padding: 0px;
	width: 180px;
	height: 150px;
	border: 1px solid #30A1BE;
	/*-moz-border-radius: 10px 10px 10px 10px; */
	float: left;
}

.lb-logo-content {
	vertical-align: top;
	align: center;
	padding: 1px;
}
/*
.lb-logo-content img {
	width: 178px;
	height: 148px;
}
*/
.lb-logo-content .lb-logo-no-logo {
	color: #ccc;
	font-size: x-large;
	font-weight: bold;
	height: 150px;
	text-align: center;
	width: 170px;
}

/* link + add */
.lb-logo-content a,.lb-banner-tr a {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 178px;
	text-decoration: none;
	color: #30A1BE;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 13px;
	background-color: #ddd;
	position: relative;
	margin-top: -25px;
}

.lb-banner-tr a{
   float:right;
   width: 100px;
}


.lb-banner-layout {
	width: 760px;
	height: 150px;
	background-color: white;
	border: 1px solid #30A1BE;
	float: right;
}

.lb-banner-tr {
	padding: 4px;
	color: #30A1BE;
}

#lb-org-name .original{
    font-weight: bold;
    font-size: larger;
    color: #006666;    
}

#lb-org-slogan .original{
    color: #30A1BE;
}

.lb-banner-tr img, #lb-banner img {
	/*width: 750px;
	height: 90px;*/
	border: 1px solid #30A1BE;
	
	/*  border: 1px solid blue;*/
}

.lb-banner-content {
	height: 100px;
	/*background-color: #E3FDBD;
    border: 1px solid #98B954; */
}

.lb-tr-content {
	padding-left: 5px;
	padding-top: 2px;
	height: 48px;
}

.font-content {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.lb-inline-edit-hover{
   background-color: #FFFFA5;
   cursor: pointer; 
}
.new-text{
    display: none;
}

/*****************************************
Dialog box
******************************************/
.ui-dialog-titlebar {
	//background: url("<%=request.getContextPath()%>/images/news_org/titleGreen.png") repeat-x scroll 50% 50% #5C9CCC!important;
	//overflow: hidden;	
}
 .ui-dialog {
	background-color:#FFFFFF;
	border:2px solid #828F95;
	padding:0;
	overflow: visible !important; 
}
 .ui-dialog .ui-dialog-buttonpane {
	text-align: center!important;
	right: 0px!important;
	border-top: 1px solid #D3D3D3;	
	height:35px;
}

 .ui-dialog .ui-dialog-titlebar{
	color:white;
	font-size:18px;
	font-weight:bold;
	padding-top:5px;
	padding-left:7px;
	background: url("<%=request.getContextPath()%>/images/news_org/titleGreen.png") repeat-x scroll 50% 50% #5C9CCC!important;
}
.ui-dialog .ui-dialog-titlebar-close{
	background:url("<%=request.getContextPath()%>/images/news_org/CloseButton.gif") no-repeat scroll 0 0 transparent;
	height:16px;
	position:absolute;
	right:5px;
	top:6px;
	width:16px;
}
.ui-dialog-title{
	font-size: 18px;
	font-weight: bold;
	left: -2px;
	position: relative;
	top: 2px;
}
.ui-datepicker-clear, .ui-datepicker-prev{
	display:none;
}
