fieldset {
	border: 1px solid #BFBFBF;
	padding: 8px;
}

/** Backgrounds **/
.bg-dot_1 {
	background: url("/ProGate-portlet/images/bg-dot_1.gif") repeat-x scroll
		left top transparent;
	height: 30px;
}

.bg-dot_2 {
	background: url("/ProGate-portlet/images/bg-dot_2.gif") repeat-x scroll
		left top transparent;
}

/** Tables **/
.tbl-main-content {
	padding: 10px;
}

.tbl-style {
	border: #578ff7 1px solid;
	border-spacing: 1px;
	border-collapse: separate;
	width: 100%;
}

.tbl-right-menu {
	float: right;
	padding: 4px;
}

.tbl-header td {
	text-align: center;
	height: 35px;
	color: #ffffff;
	vertical-align: middle;
	font-weight: bold;
}

.tbl-content-row-0 td {
	padding: 3px 3px 3px 3px;
	background: #d0d8e8;
}

.tbl-content-row-1 td {
	padding: 3px 3px 3px 3px;
	background: #e9edf4;
}

.tbl-cell {
	text-align: right;
	vertical-align: middle;
}

.disabled {
	color: #800517;
}

/** Buttons **/
.bt-search {
	padding: 1px 1px 1px 12px;
	background: url(/ProGate-portlet/images/search-icon.png) no-repeat left
		top;
	height: 16px;
	width: 16px;
	cursor: pointer;
	margin-right: 15px;
}

.bt-go-pagging {
	padding-right: 20px;
	padding-bottom: 1px;
	display: inline;
	cursor: pointer;
	background: url("/Progate_ManageOrg-portlet/images/go.gif") no-repeat
		scroll left top transparent;
}

.bt-new {
	background: url("/Progate_ManageOrg-portlet/images/add-icon.png")
		no-repeat scroll left top transparent;
	cursor: pointer;
	height: 15px;
	padding: 1px 0 2px 18px;
	width: 15px;
	margin-right: 15px;
}

.bt-new a {
	color: #000000;
	text-decoration: none
}

.bt-new a:hover {
	color: #f88017
}

.bt-edit {
	background: url("/Progate_ManageOrg-portlet/images/edit_icon.gif")
		no-repeat scroll left top transparent;
	cursor: pointer;
	height: 15px;
	padding: 1px 0 2px 19px;
	width: 15px;
	margin-right: 15px;
}

.bt-edit a {
	color: #000000;
	text-decoration: none
}

.bt-edit a:hover {
	color: #f88017
}

.bt-delete {
	background: url("/Progate_ManageOrg-portlet/images/delete-icon.png")
		no-repeat scroll left top transparent;
	cursor: pointer;
	height: 16px;
	padding: 1px 0 2px 18px;
	width: 16px;
	margin-right: 15px;
}

.bt-delete a {
	color: #000000;
	text-decoration: none
}

.bt-delete a:hover {
	color: #f88017
}

.bt-enable {
	background: url("/ProGate-portlet/images/accept-icon.png") no-repeat
		scroll left top transparent;
	cursor: pointer;
	height: 16px;
	margin-right: 15px;
	padding: 1px 0 2px 18px;
	width: 16px;
	margin-right: 15px;
}

.bt-enable a {
	color: #000000;
	text-decoration: none;
}

.bt-enable a:hover {
	color: #f88017;
}

.bt-disable {
	background: url("/ProGate-portlet/images/Button-Delete-icon.png")
		no-repeat scroll left top transparent;
	cursor: pointer;
	height: 16px;
	margin-right: 15px;
	padding: 1px 0 2px 18px;
	width: 16px;
}

.bt-disable a {
	color: #000000;
	text-decoration: none;
}

.bt-disable a:hover {
	color: #f88017;
}

/** Cell **/
.text-cell {
	text-align: left;
}

.number-cell,.date-cell {
	text-align: center;
	vertical-align: middle;
}

.image-cell,.status-cell {
	text-align: center;
	vertical-align: middle;
}

/** Input **/
.txt-search {
	display: inline;
	font-size: 12px;
	font-style: italic;
	height: 18px;
	width: 250px;
}

/** Tabs **/
.tabs-menu {
	/*background:
		url("/ProGate-theme/images/ui/ui-bg_gloss-wave_55_5c9ccc_500x100.png")
		repeat-x scroll 50% 50% #5C9CCC;*/
	border-bottom: 1px solid #4297D7;
	-moz-border-radius: 5px 5px 0px 0px;
	display: block;
	height: 28px;
	padding: 11px 12px 0;
}

.tabs-state {
	-moz-border-radius: 5px 5px 0 0;
	float: left;
	height: 19px;
	padding: 5px;
	text-align: center;
	width: auto;
}

.tabs-state-default {
	/*background:
		url("/ProGate-theme/images/ui/ui-bg_glass_85_dfeffc_1x400.png")
		repeat-x scroll 50% 50% #DFEFFC;
	border: 1px solid #C5DBEC;*/
	border: 1px solid #4297D7;
	background-color: #DFEFFC;
	color: #2E6E9E;
	cursor: pointer;
}

.tabs-state-default a,.tabs-state-default a:link,.tabs-state-default a:visited
	{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.tabs-state-default:hover a {
	color: #FFFFFF;    
}

.tabs-state-default:hover {
	/*background:
		url("/ProGate-theme/images/ui/ui-bg_glass_75_d0e5f5_1x400.png")
		repeat-x scroll 50% 50% #D0E5F5;
	border: 1px solid #79B7E7;
	color: #1D5987;*/
	background-color: #346CB0;
    border: 1px solid #4297D7;
    color: #FFFFFF;
    cursor: text;
}

.tabs-state-active {
	/*background:
		url("/ProGate-theme/images/ui/ui-bg_inset-hard_100_f5f8f9_1x100.png")
		repeat-x scroll 50% 50% #F5F8F9;
	border: 1px solid #C5DBEC;
	color: #E17009;
	cursor: text;*/
	background-color: #346CB0;
    border: 1px solid #4297D7;
    color: #FFFFFF;
    cursor: text;
}

.tabs-state-active a,.tabs-state-active a:link,.tabs-state-active a:visited
	{
	color: #FFFFFF;
	text-decoration: none;
	cursor: text;
}

/** Tabs content **/
.tabs-content {
	/*background:url("/ProGate-Theme-theme/images/ui/ui-bg_inset-hard_100_fcfdfd_1x100.png") repeat-x scroll 50% bottom #FCFDFD;
	border:1px solid #A6C9E2;
	color:#222222;*/
	
}

.tabs-content-1 {
	padding: 13px;
}

.tabs-content-left {
	background:
		url("/ProGate-Theme-theme/images/ui/ui-bg_glass_85_dfeffc_1x400.png")
		repeat scroll 0 0 transparent;
	float: left;
	width: 700px;
}

.tabs-content-right {
	background:
		url("/ProGate-Theme-theme/images/ui/ui-bg_glass_85_dfeffc_1x400.png")
		repeat scroll 0 0 transparent;
	float: right;
	width: 210px;
}

/** Tabs 1 **/
.tabs-menu-1 {
	height: 24px;
	padding: 11px 12px 0;
	margin-top: 15px;
	border-bottom: 1px solid #C5DBEC;
}

.tabs-state-1 {
	-moz-border-radius: 5px 5px 0 0;
	float: left;
	height: 19px;
	margin-left: 3px;
	padding: 2px;
	text-align: center;
	width: 50px;
}

.tabs-state-default-1 {
	background:
		url("/ProGate-Theme-theme/images/ui/ui-bg_glass_85_dfeffc_1x400.png")
		repeat-x scroll 50% 50% #DFEFFC;
	border: 1px solid #C5DBEC;
	color: #2E6E9E;
	cursor: pointer;
}

.tabs-state-default-1 a,.tabs-state-default-1 a:link,.tabs-state-default-1 a:visited
	{
	color: #2E6E9E;
	text-decoration: none;
	cursor: pointer;
}

.tabs-state-default-1:hover {
	background:
		url("/ProGate-Theme-theme/images/ui/ui-bg_glass_75_d0e5f5_1x400.png")
		repeat-x scroll 50% 50% #D0E5F5;
	border: 1px solid #79B7E7;
	color: #1D5987;
}

.tabs-state-active-1 {
	background:
		url("/ProGate-Theme-theme/images/ui/ui-bg_inset-hard_100_f5f8f9_1x100.png")
		repeat-x scroll 50% 50% #F5F8F9;
	border: 1px solid #C5DBEC;
	color: #E17009;
	cursor: text;
}

.tabs-state-active-1 a,.tabs-state-active-1 a:link,.tabs-state-active-1 a:visited
	{
	color: #E17009;
	text-decoration: none;
	cursor: text;
}

/** Custom Tabs CSS jQueryUI **/
.ui-tabs li {
	line-height: 1;
}

.tabs li span {
	background: none repeat scroll 0 0 transparent;
	border-right: 0 none;
	border-width: 0 0 medium;
}

/** Titles **/
.title-msg {
	font-size: 16px;
	padding: 10px 0 1px 11px;
}

/** Types **/
.type1 {
	
}

.type2 {
	margin-left: 15px;
}

.type3 {
	margin-left: 30px;
}

/* orgMap */
.orgMap-img{
	border: 1px solid #E0EDF4;
    float: left;
    height: 100px;
    margin-left: 20px;
    width: 145px;
}


/** Collapse **/
.msg_border {
	border-bottom: 1px dotted;
}

.msg_head {
	padding: 5px 10px;
	position: relative;
	background-color: white;
	margin: 1px;
}

.fold {
	/*background: url(/ProGate-Theme-theme/images/ui/ui-icons_2e83ff_256x240.png);*/
	background:
		url(/ProGate-Theme-theme/images/application/panel_header_toggler_open.png)
		no-repeat;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.collapse {
	/*background: url(/ProGate-Theme-theme/images/ui/ui-icons_2e83ff_256x240.png);*/
	background:
		url(/ProGate-Theme-theme/images/application/panel_header_toggler_close.png)
		no-repeat;
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.msg_content {
	float: left;
	padding-bottom: 5px;
	padding-top: 5px;
	width: 100%;
}

.msg_body {
	margin-left: 20px;
}

.msg_head_parent {
	background: url(/ProGate-portlet/images/white_line_1x22.png) repeat
		scroll left top #FFFFFF;
	margin-top: 15px;
}

.current_msg_head-left {
	float: left;
	margin-left: 10px;
	padding: 5px 0 0 22px;
	width: 125px;
	margin-top: -4px;
}

.msg_head-left {
	float: left;
	margin-left: 10px;
	padding: 5px 0 0 22px;
	width: 125px;
	margin-top: -4px;
}

.msg_head-right {
	float: right;
	margin-right: 10px;
	/*margin-top: -22px;*/
	text-align: right;
	/*width: 550px;*/
}

/* ProgressBar */
.ui-progressbar {
	width: 400px;
	height: 20px;
	border: 1px #ccc solid;
	background: #E0E8F3 url(images/bg.gif) repeat-x scroll 0%;
	position: relative;
}

.ui-progressbar-wrap {
	position: relative;
	height: auto;
	width: auto;
	line-height: 18px;
	_line-height: 16px;
}

.ui-progressbar-bar {
	background: #9CBFEE url(images/progress-bg.gif) repeat-x scroll left
		center;
	border-bottom: 1px solid #7FA9E4;
	border-right: 1px solid #7FA9E4;
	border-top: 1px solid #D1E4FD;
	position: absolute;
}

.ui-progressbar-text {
	color: #fff;
	overflow: hidden;
	white-space: nowrap;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
	text-align: center;
}

.ui-progressbar-text-back {
	color: #000;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 1px;
}

.ui-progressbar-disabled {
	opacity: .5;
	filter: Alpha(Opacity =   50);
}

/* custom */
.ui-progressbar-text.right-align {
	text-align: right;
	padding: 0 5px 0 0;
}

.ui-progressbar-inner-custom {
	background: url(images/custom-bar.gif) repeat-x scroll left center;
	border-bottom: 1px solid #EFEFEF;
	border-right: 0pt none;
	border-top: 1px solid #BEBEBE;
	height: 15px;
}

.bold {
	color: red !important;
}

.ui-hidden {
	left: -10000px;
	position: absolute;
	top: -10000px;
	visibility: hidden;
}

/* progress bar container */
.progressbar {
	border: 1px solid black;
	color: Black;
	height: 20px;
	position: relative;
	width: 190px;
}

.progressbar div.progress {
	background-color: #336699;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 0;
	float: left;
}

.progressbar div.progress .text {
	color: white;
	position: absolute;
	text-align: center;
}

.progressbar div.over-progress {
	background-color: BurlyWood;
	float: right;
	width: 0px;
	height: 100%;
}

.progressbar div.over-progress  .text {
	float: right;
	text-align: center;
	width: 0px;
}

.progressbar div.text {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
}

/* Table div layout */
.tdl-row {
	float: left;
	width: 100%;
	margin-top: 2px;
	height: 33px;
}

.tdl-row-left {
	float: left;
	background: none repeat scroll 0 0 #E9EDF4;
	width: 121px;
	height: 33px;
}

.tdl-row-left span {
	float: left;
	padding: 10px;
}

.tdl-row-right {
	float: right;
	background: none repeat scroll 0 0 #E9EDF4;
}

.tdl-row-right input {
	margin: 5px;
}

/* Dialogs */
#dialogAddObjective,#dialogAddMeasure,#dialogAddTarget,#dialogEditMeasure,#dialogEditObjective,#dialogEditPerspective,#dialogEditTarget,#createObjectiveSet,#dialogDeleteTarget,#dialogInputCost,#dialogCalcCost
	{
	display: none;
	padding: 5px;
}

/******************** Layout Home******************************/
.video-common-layout {
	width: 310px;
	background-color: white;
	float: left;
	border: 1px solid #30A1BE;
	-moz-border-radius: 5px 5px 5px 5px;
}

.video-common-layout-noborder {
	width: 100%;
	background-color: white;
	float: left;
}

.bodyContent {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 10px;
}

.bodyContent-url {
	
}

.videoContent {
	font-size: 13px;
	color: #A6A6A6;
}

.videoContentLink {
	font-size: 13px;
	color: #30A1BE;
	padding-right: 5px;
}

.linkContent {
	float: right;
	text-decoration: none
}

/************************* Layout Add & Edit ******************************************/
.video-layout {
	width: 945px;
	height: 400px;
}

.video-add-header {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
	border-bottom-style: dotted;
}

.tr-header {
	float: right;
	padding-right: 10px;
	width: 180px;
}

.content-header {
	font-size: 18px;
}

.video-body {
	float: left;
	width: 900px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

.video-body-mes-success {
	float: left;
	width: 900px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
	background-color: #E1FBE6;
}

.video-body-mes-error {
	background-color: #FDEFED !important;
	float: left;
	width: 900px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

.video-body-header {
	float: left;
	width: 900px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 5px;
}

.body-header {
	font-size: 13px;
	color: red;
}

.body-content {
	font-size: 13px;
}

.video-td {
	float: left;
	padding-bottom: 5px;
	padding-left: 20px;
}

.video-td-img {
	float: left;
	padding-left: 95px;
}

.img-td {
	padding-top: 5px;
}

.img-td:hover{
	color:	orange;
	cursor: pointer;
}

.td-content {
	float: left;
	width: 75px;
}

.video-mes {
	font-size: 13px;
	color: red;
}

/***************************************Overview**************************************************/
.tq-layout-common-border {
	border: 1px solid #30A1BE;
	float: left;
	width: 628px;
}

.tq-tr-header-home {
	padding-bottom: 10px;
	width: 620px;
}

.tg-content-header {
	font-size: 18px;
}

.tg-content {
	font-size: 13px;
}

.tg-content img{
	margin-left: 60px;
}

.tq-content-align {
	text-align: justify;
	float: left;
	padding-right: 4px;
	width: 620px;
}

/******************Tong Quan********************/
.tq-layout-common {
	width: 630px;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	float: left;
}

.tq-header-layout {
	border-bottom: 1px solid gray;
	border-bottom-style: dotted;
	width: 622px;
	float: left;
}

.tq-header-left {
	float: left;
	width: 250px;
}

.tq-header-right {
	float: right;
	width: 250px
}

.tg-content-blue {
	font-size: 13px;
	color: #30A1BE;
}

.tg-content-orange {
	color: #E6771C;
	font-size: 16px;
	font-weight: bold;
}

.tg-header-td-img-left {
	float: left;
}

.tg-header-td-img-right {
	padding-right: 3px;
	float: right
}

.tg-header-td-left {
	padding-left: 5px;
	padding-top: 2px;
	float: left
}

.tg-header-td-right {
	float: right;
	padding-top: 2px;
}

.tq-body-home {
	float: left;
	width: 620px;
	padding: 5px;
}

/******************Sua Tong Quan********************/
.tq-layout {
	width: 959px;
	height: 400px;
}

.tq-add-header {
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 2px;
	border-bottom: 1px solid gray;
	border-bottom-style: dotted;
}

.tq-tr-header {
	float: right;
	padding-right: 10px;
	width: 180px;
}

.tq-content-header {
	font-size: 18px;
}

.tq-body {
	float: left;
	width: 900px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

.tq-body-mes-success {
	float: left;
	width: 900px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
	background-color: #E1FBE6;
}

.tq-body-mes-error {
	background-color: #FDEFED !important;
	float: left;
	width: 900px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

.tq-body-header {
	float: left;
	width: 900px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-top: 5px;
}

.tq-body-content {
	font-size: 13px;
}

.tq-body-content-mes {
	font-size: 13px;
	font-weight: bold;
}

.tq-td {
	float: left;
	padding-bottom: 5px;
	padding-left: 20px;
}

.tq-td-right {
	float: right;
	padding-bottom: 5px;
	width: 640px;
}

.tq-td-img {
	float: left;
	padding-left: 103px;
}

.tq-img-td {
	padding-top: 5px;
}

.tq-td-content {
	float: left;
	width: 84px;
}

.tq-mes {
	font-size: 13px;
	color: red;
}

.tq-content-middle {
	text-align: center;
	padding-right: 4px;
}

.tg-content-title {
	font-size: 14px;
	font-weight: bold;
}

/*********************************** Menu *************************/
.pg-menu {
	background-color: #30A1BE;
	height: 34px;
	width: 100%;
	-moz-border-radius: 5px 5px 5px 5px;
}

.pg-menu-content {
	list-style: none outside none;
	padding: 0;
}

.pg-menu-content li {
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding-left: 15px;
	padding-top: 7px;
	padding-right: 15px;
	height: 27px;
	border-left: 1px solid #ffffff;
}

.pg-menu-content li a {
	color: white;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
}

.pg-menu-content li a:HOVER {
	color: yellow;
}

.pg-selected {
	background-color: #FDEE7D;
}

.pg-selected a.level-1 {
	color: #006666;
}

.pg-child-menu {
	background-color: #30A1BE;
	padding-top: 0px;
	z-index: 100;
	margin-top: 7px;
}

li.childmenu ul {
	display: none;
	margin-left: -16px;
	margin-right: -69px;
	margin-top: 5px;
}

li.childmenu:hover ul {
	display: block;
	position: relative;
}

.child-menu1 {
	float: none;
}

.pg-child-menu li {
	color: white;
	font-size: 14px;
	font-weight: bold;
	padding-left: 12px;
	padding-top: 7px;
	padding-right: 12px;
	height: 21px;
	border-bottom: 1px solid #ffffff;
}

.pg-child-menu li a {
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

.pg-child-menu li a:HOVER {
	color: yellow;
}

.pg-selected {
	background-color: #FDEE7D;
}

.pg-selected .level_2 { /*color: #006666 ;*/
	
}

.freezing-navigation {
	background-color: #30A1BE;
	color: white;
	position: fixed;
	top: 0;
	z-index: 1000;
}

.freezing-navigation .actived {
	color: yellow;
}

/********************************** Product Service ProGate*************************************/
.pg-logo-header {
	float: left;
	padding: 2px 1px 2px 10px;
	width: 30px;
}

.pg-td-header {
	float: right;
	padding: 8px 46px 0 0;
}

.pg-header-content {
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.pg-tr-content {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
}

.pg-tr-content-border {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
	border-bottom-style: dotted;
	padding-right: 6px;
}

.pg-td-content {
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 2px;
	float: right;
	width: 214px
}

.pg-image-content {
	padding: 1px;
	float: left;
	border: 1px solid #E0EDF4;	
	width: 70px;
	height: 70px;
}

.pg-normal-content {
	font-size: 13px;
}

.pg-content-link {
	text-decoration: none;
	color: black;
}

.pg-normal-content a:hover {
	color: orange !important;
}

/**************************Product Service Org *****************************************/
.org-common-layout,.pg-common-layout {
	width: 100%;
	background-color: white;
	float: left;
}

.org-common-header,.pg-common-header {
	background-color: #30A1BE;
	height: 30px;
	width: 100%;
	float: left;
	-moz-border-radius: 5px 5px 0px 0px;
}

.org-common-body,.pg-common-body {
	border-left: 1px solid #30A1BE;
	border-right: 1px solid #30A1BE;
	border-bottom: 1px solid #30A1BE;
	-moz-border-radius: 0px 0px 5px 5px;
	float: left;
}

.org-logo-header {
	float: left;
	padding-bottom: 2px;
	padding-left: 0;
	padding-right: 1px;
	padding-top: 2px;
	width: 30px;
}

.org-td-header {
	float: left;
	padding: 7px 46px 2px 10px;
}

.org-td-header a {
	text-decoration: none;
}

.org-header-content {
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.org-tr-content {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-right: 8px;
}

.org-tr-content-border {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
	border-bottom-style: dotted;
	padding-right: 8px;
}

.org-td-content {
	padding-top: 0px;
	padding-left: 6px;
	padding-right: 2px;
	float: right;
	width: 214px
}

.org-image-content {
	padding: 1px;
	float: left;
	border: 1px solid #E0EDF4;
	width: 70px;
	height: 70px;
}

.org-normal-content {
	font-size: 13px;
}

.org-content-link {
	text-decoration: none;
	color: black;
}

.org-normal-content a:hover {
	color: orange;
}

.tq-td-img-button {
	float: left;
	padding-left: 396px;
}

/**************************************Customer*********************************************/
.cus-td-content {
	float: left;
	width: 140px;
}

.cus-td-img {
	float: left;
	padding-left: 160px;
}

.cus-radio {
	padding-left: 3x;
	padding-right: 25px
}

.cus-td-content-line {
	float: left;
	width: 300px;
}

.div-info {
	padding-top: 8px;
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
}

.cus-content-title {
	font-size: 14px;
	color: #0000FF;
	font-weight: bold;
}

.cus-content-normal {
	font-size: 13px;
	color: #0000FF;
}

.cus-tr-content {
	padding-left: 5px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-top: 5px;
	float: left;
}

.cus-image {
	float: left;
	border: 1px solid #CCCCCC;
	/*-moz-border-radius: 5px 5px 5px 5px;*/
	width: 145px;
	height: 100px;
	/* padding-top: 5px; */
}

.cus-content-align {
	text-align: justify;
	width: 620px;
	float: left;
}

.cus-content-des {
	padding-top: 3px;
	margin-left: 154px;
	height: 100px;
	width: 472px;
}

.cus-relative {
	margin-bottom: 35px;
	margin-left: 5px;
	margin-right: 50px;
}

.cus-relative-layout {
	width: 625px;
	float: left;
}

.customer-paging {
	width: 100%;
	float: left;
	padding-top: 6px;
	padding-bottom: 8px;
}

/******************************Left Menu *********************************************************/
.side-bar-org {
	background: url("/ProGate-portlet/images/left_panel.png") repeat scroll
		0 0 transparent;;
	width: 260p;
	height: 510px;
	-moz-border-radius: 10px 10px 10px 10px;
	float: left;
}

.left-menu-layout {
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 5px;
	float: left;
}

.left-menu-header-content {
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 28px;
	padding-right: 28px;
	border-bottom: 1px dotted;
}

.left-menu-content {
	color: white;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.left-menu-content-yel {
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
}

.left-menu-child {
	padding-top: 5px;
	float: left;
	margin-left: 20px;
	padding-left: 4px;
}

.left-menu-child-common {
	padding-bottom: 5px;
	padding-top: 5px;
	float: left;
	width: 100%;
}

.left-menu-common {
	padding-bottom: 5px;
	padding-top: 5px;
	float: left;
}

.left-menu-common-mid {
	padding-bottom: 5px;
	padding-top: 5px;
}

.left-menu-child-common-last {
	padding-top: 5px;
}

.left-menu-img {
	float: left;
	padding-right: 5px
}

.left-menu-a-layout {
	float: left;
	padding-top: 3px;
	width: 200px;
}

.left-menu-layout a {
	text-decoration: none;
	color: orange;
}

/********************************* News ProGate ***********************************************/
.news-common-layout {
	float: left;
	padding-bottom: 10px;
	width: 663px;
}

.news-header-background {
	background-image: url("/ProGate-portlet/images/news_pg/news_header.png");
	background-repeat: no-repeat;
	padding-top: 6px;
	width: 663px;
	height: 30px;
}

.news-header-content {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	cursor: pointer;
}

.news-layout-left {
	width: 315px;
	float: left;
}

.news-layout-right {
	width: 342px;
	float: left;
}

.news-body {
	float: left;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-top: 6px;
}

.news-content-right {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	padding-left: 3px;
	text-align: justify;
	width: 224px;
}

.news-content-left {
	padding-top: 10px;
	text-align: justify;
	width: 305px;
	float: left;
}

.news-right {
	padding-bottom: 10px;
	float: left;
	cursor: pointer;
	width: 342px;
}

.news-header-background a span:hover {
	color: yellow;
}

.news-layout-right div:hover {
	background-color: #DFEEF6;
}

.news-img-right {
	padding: 2px;
	float: left;
	width: 100px;
	border: 1px solid #E0EDF4;
	margin-top: 5px;
	margin-left: 2px;
}

.news-img-left {
	padding: 2px;
	float: left;
	width: 300px;
	border: 1px solid #E0EDF4;
}

.news-msg {
	margin-left: 8px;
	padding-left: 5px;
	width: 98%;
}

.new-blog {
	width: 98%;
	margin-bottom: 10px;
}

.folder-news-pg {
	margin-top: 5px;
	width: 100%;
	padding-bottom: 10px;
}

.news-row-line {
	background: url("/ProGate-portlet/images/course_line.png") no-repeat
		scroll 0% 0% transparent;
	float: left;
	width: 316px;
	height: 4px;
	margin-left: 16px;
}
.suborg-common-body{
	border-left: 1px solid #30A1BE;
	border-right: 1px solid #30A1BE;
	border-bottom: 1px solid #30A1BE;
	-moz-border-radius: 0px 0px 5px 5px;
	float: left;
	width: 99%;
	padding-left: 1px;
}
.img-border{
	text-align: justify;
	float:left; 
	width: 80px; 
	height: 80px;
	margin-right: 8px;
	border: 1px solid #E0EDF4;
}